.diagnostic {
  > .container {
    max-width: 1200px;
  }

  &__img {
    position: relative;
    right: 28px;
    top: 24px;
    z-index: 2;
  }

  &__content {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -90px;
      top: 110px;
      z-index: 3;
      width: 51px;
      height: 357px;
      background: url("../img/diagnostic-line.svg") center no-repeat;
    }
  }

  &__subtitle {
    margin: 22px 0 50px;
    max-width: 560px;
  }

  &__item {
    @include mb(14px);

    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
  }

  &__icon {
    @include circle(50px, transparent);
    @include flex-all-center;

    flex-shrink: 0;
    border: 1px solid $g2-color;
  }

  &__text {
    margin-left: 16px;
    font-family: "AlumniSans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
  }

  &__inner {
    position: relative;

    &::before {
      @include bg-circle(666px, 85px);

      left: -131px;
      top: 0;
    }

    &::after {
      @include bg-circle(549px);

      right: -400px;
      top: -166px;
      background: rgba(210, 35, 42, 10%);
    }
  }

  &__box {
    position: relative;
    margin-top: -318px;
    border: 1px solid #343535;
    border-radius: 10px;
    padding: 38px;
    background: #131010;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 9px;
      width: 100%;
      height: 123px;
      background: linear-gradient(180deg, rgba(12, 12, 12, 80%) 0%, rgba(12, 12, 12, 0%) 100%);
      transform: rotate(180deg);
    }
  }

  &__inner,
  &__box {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 0 10px;
  }
}
