.hero {
  overflow: hidden;
  padding: 50px 0 70px;

  &__inner {
    position: relative;

    &::before {
      @include bg-circle(722px, 80px);

      left: -19px;
      bottom: -528px;
      z-index: -1;
      background-color: $accent-color;
    }
  }

  &__title {
    margin-bottom: 26px;
    color: $light-color;

    span {
      font-size: 60px;
    }
  }

  &__subtitle {
    font-size: 30px;
    line-height: 1.4;
    color: $light-color;
  }

  &__img-mob {
    display: none;
  }

  &__img {
    @include flex-h-center;
  }
}

.hero-benefits {
  position: relative;
  top: -75px;
  z-index: 2;
  padding-bottom: 80px;

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    border: 1px solid $g4-color;
    border-radius: 8px;
    padding: 37px 20px;
    background: rgba(19, 16, 16, 50%);
    backdrop-filter: blur(50px);
    gap: 30px 60px;
  }

  &__item {
    @include flex-h-center;

    min-width: 187px;
  }

  &__icon {
    @include circle(40px);
    @include flex-all-center;
  }

  &__text {
    margin-left: 14px;
    line-height: 1.4;
    color: $g1-color;
  }
}
