.recharge {
  background: url("../img/examples-bg.jpg") center / cover no-repeat;

  &__subtitle {
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__item {
    position: relative;
    flex-shrink: 0;
    padding: 65px 40px 30px;
    width: 446px;
    height: 283px;

    &::after {
      @include triangle(28px);

      content: "";
      position: absolute;
      right: 36px;
      top: 24px;
    }

    &--black {
      background: url("../img/recharge-1.svg") center no-repeat;
    }

    &--white {
      background: url("../img/recharge-2.svg") center no-repeat;

      .recharge {
        &__caption span {
          color: $g4-color;
        }

        &__name,
        &__value,
        &__text {
          color: $g4-color;
        }
      }
    }
  }

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 1;
    color: $accent-color;
  }

  &__name {
    margin-bottom: 7px;
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    color: $g1-color;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__hours {
    margin: 0 9px 0 17px;
    font-family: "AlumniSans", sans-serif;
    font-weight: 500;
    font-size: 75px;
    color: $accent-color;
  }

  &__text {
    font-size: 20px;
    color: $g1-color;
  }

  &__footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11px;
  }

  &__caption {
    font-size: 14px;
    line-height: 1.4;
    color: $g5-color;

    span {
      font-weight: 500;
      color: $g1-color;
    }
  }

  &__bar {
    height: 9px;
    background-color: rgba($accent-color, 0.3);
  }

  &__bar-fill {
    margin-left: auto;
    width: 0;
    height: 100%;
    background-color: $accent-color;
  }

  &__arrow {
    margin: 0 25px;
  }

  &__value {
    font-weight: 500;
    font-size: 18px;
  }

  &__bottom {
    display: flex;
  }

  &__bottom-icon {
    @include circle(40px, transparent);
    @include flex-all-center;

    flex-shrink: 0;
    border: 1px solid $g1-color;
  }

  &__bottom-title {
    margin-bottom: 17px;
    margin-left: 17px;
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $g1-color;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: disc;
    padding-left: 33px;

    li {
      &:not(:first-child) {
        margin-left: 45px;
      }
    }
  }
}
