.trust {
  position: relative;
  padding-bottom: 0;

  &::before {
    @include bg-circle(581px, 200px, 0.4);

    left: -191px;
    bottom: 126px;
    z-index: -1;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1.19fr;
    gap: 0 38px;
  }

  &__items {
    counter-reset: trust;
    padding-top: 15px;
  }

  &__item {
    @include mb(22px);

    counter-increment: trust;
    display: flex;
    border: 1px solid $g2-color;
    border-radius: 10px;

    p {
      margin-top: 10px;
      max-width: 220px;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &__title-break {
    display: block;
  }

  &__item-info {
    padding: 33px;
  }

  &__img {
    @include flex-all-center;

    flex-shrink: 0;
    border-right: 1px solid $g2-color;
    width: 190px;
  }

  &__name {
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $g1-color;

    &::before {
      content: "0" counter(trust) "/ ";
      display: block;
      margin-right: 4px;
      color: $accent-color;
    }
  }
}
