<div class="modal modal-complect" id="modal-complect-3" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <h2 class="modal-complect__title section-title centered">КОМПЛЕКТАЦІЯ <span>MaxiSys MS906 Pro Max</span></h2>
          <div class="modal-complect__inner" data-show-more-parent>
            <ul class="modal-complect__list">
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-3.webp 1x, img/complect-3@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-3.png"
                        srcset="img/complect-3.png 1x, img/complect-3@2x.png 2x" width="135" height="97" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Діагностичний сканер Autel MaxiSys MS906 Pro</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-4.webp 1x, img/complect-4@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-4.png"
                        srcset="img/complect-4.png 1x, img/complect-4@2x.png 2x" width="100" height="100" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Бездротовий адаптер <br> MaxiVCI V200</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-46.webp 1x, img/complect-46@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-46.png"
                        srcset="img/complect-46.png 1x, img/complect-46@2x.png 2x" width="82" height="108" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Осцилограф <br> MaxiScope MP408</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">4 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-47.webp 1x, img/complect-47@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-47.png"
                        srcset="img/complect-47.png 1x, img/complect-47@2x.png 2x" width="154" height="81" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Дріт вимірювальний <br> екранований</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-48.webp 1x, img/complect-48@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-48.png"
                        srcset="img/complect-48.png 1x, img/complect-48@2x.png 2x" width="164" height="64" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер для вторинного <br> ланцюга запалювання</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-49.webp 1x, img/complect-49@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-49.png"
                        srcset="img/complect-49.png 1x, img/complect-49@2x.png 2x" width="162" height="59" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Дводротовий відвід</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-50.webp 1x, img/complect-50@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-50.png"
                        srcset="img/complect-50.png 1x, img/complect-50@2x.png 2x" width="173" height="68" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Дріт з малими крокодилами</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-51.webp 1x, img/complect-51@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-51.png"
                        srcset="img/complect-51.png 1x, img/complect-51@2x.png 2x" width="137" height="80" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Набір із 2-х щупів мультиметра</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">2 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-52.webp 1x, img/complect-52@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-52.png"
                        srcset="img/complect-52.png 1x, img/complect-52@2x.png 2x" width="132" height="96" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Атенюатори 20:1</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-53.webp 1x, img/complect-53@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-53.png"
                        srcset="img/complect-53.png 1x, img/complect-53@2x.png 2x" width="76" height="95" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Набір затискачів типу <br> "крокодил" (малі)</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-53.webp 1x, img/complect-53@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-53.png"
                        srcset="img/complect-53.png 1x, img/complect-53@2x.png 2x" width="88" height="108" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Набір затискачів типу <br> "крокодил" (великі)</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-54.webp 1x, img/complect-54@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-54.png"
                        srcset="img/complect-54.png 1x, img/complect-54@2x.png 2x" width="155" height="87" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Набір із 5 пробників  <br>(голчастих)</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-43.webp 1x, img/complect-43@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-43.png"
                        srcset="img/complect-43.png 1x, img/complect-43@2x.png 2x" width="124" height="91" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер Ethernet- <br> USB</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-56.webp 1x, img/complect-56@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-56.png"
                        srcset="img/complect-56.png 1x, img/complect-56@2x.png 2x" width="143" height="108" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Адаптер живлення</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-57.webp 1x, img/complect-57@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-57.png"
                        srcset="img/complect-57.png 1x, img/complect-57@2x.png 2x" width="119" height="101" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель живлення</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-58.webp 1x, img/complect-58@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-58.png"
                        srcset="img/complect-58.png 1x, img/complect-58@2x.png 2x" width="134" height="87" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель живлення <br>
                    від прикурювача</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-44.webp 1x, img/complect-44@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-44.png"
                        srcset="img/complect-44.png 1x, img/complect-44@2x.png 2x" width="133" height="83" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кабель USB Type C</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">2 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-8.webp 1x, img/complect-8@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-8.png"
                        srcset="img/complect-8.png 1x, img/complect-8@2x.png 2x" width="114" height="75" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Запобіжники <br> плавкі</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-41.webp 1x, img/complect-41@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-41.png"
                        srcset="img/complect-41.png 1x, img/complect-41@2x.png 2x" width="148" height="87" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Тканина для <br> очищення екрана</div>
                </div>
              </li>
              <li class="modal-complect__item">
                <div class="modal-complect__item-inner">
                  <div class="modal-complect__count">1 од.</div>
                  <div class="modal-complect__img">
                    <picture>
                      <source srcset="img/complect-61.webp 1x, img/complect-61@2x.webp 2x" type="image/webp">
                      <img loading="lazy" src="img/complect-61.png"
                        srcset="img/complect-61.png 1x, img/complect-61@2x.png 2x" width="130" height="123" alt="">
                    </picture>
                  </div>
                  <div class="modal-complect__name">Кейс для зберігання</div>
                </div>
              </li>
            </ul>
            <div class="modal-complect__btn centered">
              <button class="btn-link" data-show-more>ПЕРЕГЛЯНУТИ ВСЕ</button>
            </div>
          </div>
          <button class="modal__close" data-modal-close>@include('../../../img/close-icon.svg')</button>
        </div>
      </div>
    </div>
  </div>
</div>
