<div class="modal modal-video" id="modal-video" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__scroll-wrapper" data-simplebar>
      <div class="modal__inner">
        <div class="modal__content">
          <video id="player" data-poster="img/poster.jpg" playsinline controls>
            <source src="video/remote.mp4" type="video/mp4" />
          </video>
          <button class="modal__close" data-modal-close>@include('../../img/close-icon.svg')</button>
        </div>
      </div>
    </div>
  </div>
</div>
