<section class="china section-offset" id="china">
  <div class="container">
    <h2 class="section-title centered">РАСШИРЕННАЯ ПОДДЕРЖКА <br> КИТАЙСКИХ БРЕНДОВ</h2>
    <p class="china__subtitle section-subtitle centered">Поддержка большинства моделей на дилерском уровне</p>
    <div class="china__inner">
      <div class="china__content">
        <div class="china__content-title">Основной фокус на марки:</div>
        <ol class="china__list">
          <li>Chery</li>
          <li>Haval</li>
          <li>Geely</li>
          <li>Exeed</li>
        </ol>
        <div class="china__tables">
          <div class="china__box">
            <div class="china__content-title">Функции:</div>
            <ul>
              <li>чтение и стирание ошибок</li>
              <li>параметры</li>
              <li>специальные функции,</li>
              <li>активации</li>
              <li>тест блоки</li>
              <li>функции ADAS</li>
            </ul>
          </div>
          <div class="china__box">
            <div class="china__content-title">Модельный <br> ряд:</div>
            <p><span class="color-accent">2022</span> включительно</p>
          </div>
        </div>
        <a class="china__btn btn" href="#">Таблицы применяемости</a>
      </div>
      <div class="china__img">
        <picture>
          <source srcset="img/china.webp 1x, img/china@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/china.jpg" srcset="img/china.jpg 1x, img/china@2x.jpg 2x" width="492" height="493" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
