<section class="complect section-offset">
  <div class="container">
    <div class="complect__inner">
      <h2 class="section-title centered">94 марки в базовом комплекте</h2>
      <p class="complect__subtitle section-subtitle centered">Работает со всеми марками представленными на рынке</p>
      <ul class="complect__list">
        <li class="complect__item">
          <div class="complect__name">Европа</div>
          <p><span>Расширенная поддержка:</span> BMW, Mercedes Benz, VAG, Land Rover</p>
          <p>
            EU Ford, Renault, Abarth, Alfa Romeo, Bugatti, Opel, Vauxhall, Saab, Jaguar, Mercedes Benz Sprinter,
            Maybach, Smart,
            Porsche, Volvo, VW, Audi, Bentley, Seat, Skoda, Lancia, Lamborghini, MINI, VW CV, Citroen, VW LT3, Dacia,
            Rolls-Royce,
            Fiat, Peugeot, Aston Martin, Maserati, Ferrari, Iveco LD, MAN LD, DS</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">Япония и Южная Корея</div>
          <p><span>Расширенная поддержка:</span> Hyundai, Kia, Toyota, Lexus</p>
          <p>Honda, Suzuki, Isuzu, Acura, Nissan, Infiniti, Scion, Mitsubishi, Subaru, Daihatsu, Mazda; Nissan GTR,
            Fuso, HINO, UD,
            SsangYong, Daewoo, Hyundai CV, Samsung</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">Китай</div>
          <p><span>Расширенная поддержка:</span> Chery, Haval, Geely,&nbsp;Exeed</p>
          <p>
            Byd, Brilliance, Great Wall, Foton, Borgward, MG, DFSK, Zotye, Emgrand, LDV, Saicmg, BAIC Motor, BAIC
            Senova, DFFG, Jac</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">США</div>
          <p>Chrysler, Jeep, GM, Dodge, Ford</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">СНГ</div>
          <p>ВАЗ, ГАЗ, ИЖ, КАМАЗ, МАЗ, ПАЗ, СеАЗ,&nbsp;УАЗ,&nbsp;ЗАЗ</p>
        </li>
      </ul>
      <div class="centered">
        <a href="https://www.auteltech.com/vehicle-coverage/coverage2" target="_blank" class="btn">ТАБЛИЦЫ ПРИМЕНЯЕМОСТИ
          АВТОСКАНЕРА</a>
      </div>
    </div>
  </div>
</section>
