<section class="diagnostic section-banner" id="diagnostic">
  <div class="banner">
    <div class="container">
      <div class="banner__inner">
        <div class="banner__title">РЕШЕНИЕ</div>
        <p>для автоэлектрика</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="diagnostic__inner">
      <div class="diagnostic__img" data-da=".diagnostic__img-mob, 768">
        <picture>
          <source srcset="img/diagnostic.webp 1x, img/diagnostic@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/diagnostic.png" srcset="img/diagnostic.png 1x, img/diagnostic@2x.png 2x" width="539" height="670" alt="">
        </picture>
      </div>
      <div class="diagnostic__content">
        <h2 class="diagnostic__title section-title">ПОЛНОФУНКЦИОНАЛЬНАЯ ДИАГНОСТИКА
        ВСЕХ&nbsp;СИСТЕМ</h2>
        <p class="diagnostic__subtitle section-subtitle">Используем исходные данные дилерских сканеров
        для&nbsp;обеспечения максимального функционала</p>
      </div>
    </div>
    <div class="diagnostic__box">
      <div class="diagnostic__img-mob"></div>
      <ul class="diagnostic__list">
        <li class="diagnostic__item">
          <div class="diagnostic__icon">
            <img src="img/wrench-accent-icon.svg" width="32" height="32" alt="">
          </div>
          <div class="diagnostic__text">Чтение и сброс ошибок</div>
        </li>
        <li class="diagnostic__item">
          <div class="diagnostic__icon">
            <img src="img/timer-accent-icon.svg" width="32" height="32" alt="">
          </div>
          <div class="diagnostic__text">Параметры в реальном времени</div>
        </li>
        <li class="diagnostic__item">
          <div class="diagnostic__icon">
            <img src="img/check-accent-icon.svg" width="32" height="32" alt="">
          </div>
          <div class="diagnostic__text">Активации и тест-блоки (ведомые функции)</div>
        </li>
        <li class="diagnostic__item">
          <div class="diagnostic__icon">
            <img src="img/zoom-accent-icon.svg" width="32" height="32" alt="">
          </div>
          <div class="diagnostic__text">Ведомый поиск неисправностей (HyanesPro)</div>
        </li>
      </ul>
    </div>
  </div>
</section>
