<section class="documentation section-banner">
  <div class="banner">
    <div class="container">
      <div class="banner__inner">
        <div class="banner__title">РЕШЕНИЕ</div>
        <p>для автоэлектрика</p>
      </div>
    </div>
  </div>
  <div class="container container--sm">
    <div class="documentation__inner">
      <h2 class="documentation__title section-title centered">ТЕХНИЧЕСКАЯ БАЗА HAYNES PRO ELECTRONICS В&nbsp;БАЗОВОМ&nbsp;КОМПЛЕКТЕ</h2>
      <p class="documentation__subtitle section-subtitle centered">ТОП-1 база данных полностью <span class="color-accent">на&nbsp;русском&nbsp;языке</span></p>
      <ul class="cards__list cards__list--big">
        <li class="cards__item cards__item--big">
          <div class="cards__name">Haynes PRO Electronics Full</div>
          <ul>
            <li>Цветные интеллектуальные электросхемы</li>
            <li>Подробные пошаговые инструкции по проверке</li>
            <li>Методы диагностики</li>
            <li>Расшифровка кодов неисправностей</li>
            <li>Схемы, назначения контактов разъёмов</li>
          </ul>
          <div class="cards__img">
            <picture>
              <source srcset="img/documentation-1.webp 1x, img/documentation-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/documentation-1.png" srcset="img/documentation-1.png 1x, img/documentation-1@2x.png 2x" width="270" height="260" alt="haynes pro">
            </picture>
          </div>
        </li>
        <li class="cards__item cards__item--big">
          <div class="cards__name">Haynes PRO SMART (ОПЦИЯ)</div>
          <ul>
            <li>Методы устранения кодов неисправностей</li>
            <li>База по известным неисправностям</li>
            <li>SMARTCASE – база механических неисправностей</li>
            <li>База TSB (Technical Service Bulletin)</li>
            <li>Отзывные компании</li>
          </ul>
          <div class="cards__img">
            <picture>
              <source srcset="img/documentation-2.webp 1x, img/documentation-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/documentation-2.png" srcset="img/documentation-2.png 1x, img/documentation-2@2x.png 2x"
                width="310" height="193" alt="haynes pro">
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
