<footer class="footer">
  <div class="container container--lg">
    <div class="footer__inner">
      <div class="footer__logo-wrapper footer__col">
        <div class="footer__logo">
          <img src="img/logo-footer.svg" width="166" height="26" alt="footer-logo">
        </div>
        <div class="footer__address">ул. Красноткацкая, 90, 35, Киев, 02000</div>
      </div>
      <ul class="footer__list footer__col">
        <li><a href="#chars" data-scroll>Сравнение</a></li>
        <li><a href="#settings" data-scroll>Функции</a></li>
        <li><a href="#garanty" data-scroll>Гарантии</a></li>
      </ul>
      <ul class="footer__list footer__col">
        <li><a href="#study" data-scroll>Обучение</a></li>
        <li><a href="#partners" data-scroll>Партнеры</a></li>
      </ul>
      <ul class="footer__list footer__col">
        <li><a href="tel:+380979795456">+38 097 979 54 56</a></li>
        <li><a href="mailto:info@autel-ukraine.com.ua">info@autel-ukraine.com.ua</a></li>
      </ul>
      <!-- @include('socials.html', {
        classes: 'footer__socials footer__col'
      }) -->
    </div>
    <div class="footer__bottom">
      <p>Autel-Ukraine Copyright © 2022</p>
      <a href="#" target="_blank">Договор оферты</a>
      <a href="#" target="_blank">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
