<section class="functions section-banner" id="functions">
  <div class="banner">
    <div class="container">
      <div class="banner__inner">
        <div class="banner__title">РЕШЕНИЕ</div>
        <p>для автомеханика</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="functions__inner">
      <div class="functions__content">
        <h2 class="section-title">37 СПЕЦИАЛЬНЫХ ФУНКЦИЙ ДЛЯ СЕРВИСНЫХ
        РАБОТ И ТО</h2>
        <div class="functions__value">На 62 %</div>
        <div class="functions__bar">
          <div class="functions__bar-fill" style="width: 133px;"></div>
        </div>
        <p class="functions__subtitle section-subtitle">больше сервисных функции в прямом доступе чем у конкурентов</p>
      </div>
      <div class="functions__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="functions__item">
              <picture>
                <source srcset="img/functions-slider-1.webp 1x, img/functions-slider-1@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/functions-slider-1.jpg" srcset="img/functions-slider-1.jpg 1x, img/functions-slider-1@2x.jpg 2x" width="597" height="448" alt="">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="functions__item">
              <picture>
                <source srcset="img/functions-slider-1.webp 1x, img/functions-slider-1@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/functions-slider-1.jpg" srcset="img/functions-slider-1.jpg 1x, img/functions-slider-1@2x.jpg 2x" width="597" height="448" alt="">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="functions__item">
              <picture>
                <source srcset="img/functions-slider-1.webp 1x, img/functions-slider-1@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/functions-slider-1.jpg" srcset="img/functions-slider-1.jpg 1x, img/functions-slider-1@2x.jpg 2x" width="597" height="448" alt="">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="functions__item">
              <picture>
                <source srcset="img/functions-slider-1.webp 1x, img/functions-slider-1@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/functions-slider-1.jpg" srcset="img/functions-slider-1.jpg 1x, img/functions-slider-1@2x.jpg 2x" width="597" height="448" alt="">
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
