<section class="hero section-offset">
  <div class="container container--lg">
    <div class="hero__inner">
      <h1 class="hero__title section-title centered"><span>MaxiSys</span> MS906S&nbsp;SE (SPECIAL EDITION)</h1>
      <p class="hero__subtitle centered">Решение для постов ТО, ТР&nbsp;и&nbsp;автоэлектрики</p>
      <div class="hero__img">
        <picture>
          <source srcset="img/hero-items.webp 1x, img/hero-items@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/hero-items.png" srcset="img/hero-items.png 1x, img/hero-items@2x.png 2x"
            width="1051" height="577" alt="MaxiSys MS906 Pro & MS906 Pro MAX">
        </picture>
      </div>
      <div class="hero__img-mob">
        <picture>
          <source srcset="img/hero-items-mob.webp 1x, img/hero-items-mob@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/hero-items-mob.png"
            srcset="img/hero-items-mob.png 1x, img/hero-items-mob@2x.png 2x" width="716" height="408" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
<section class="hero-benefits">
  <div class="container container--lg">
    <div class="hero-benefits__inner">
      <ul class="hero-benefits__list">
        <li class="hero-benefits__item">
          <div class="hero-benefits__icon">
            <img src="img/wrench-icon.svg" width="24" height="24" alt="wrench">
          </div>
          <div class="hero-benefits__text">На&nbsp;30% <br> производительнее</div>
        </li>
        <li class="hero-benefits__item">
          <div class="hero-benefits__icon">
            <img src="img/car-icon.svg" width="24" height="24" alt="car">
          </div>
          <div class="hero-benefits__text">89 марок <br>
            в базе</div>
        </li>
        <li class="hero-benefits__item">
          <div class="hero-benefits__icon">
            <img src="img/check-circle-icon.svg" width="24" height="24" alt="check">
          </div>
          <div class="hero-benefits__text">37 специальных <br> функций</div>
        </li>
        <li class="hero-benefits__item">
          <div class="hero-benefits__icon">
            <img src="img/battery-icon.svg" width="24" height="24" alt="battery">
          </div>
          <div class="hero-benefits__text">3 года <br>
            обновлений</div>
        </li>
      </ul>
    </div>
  </div>
</section>
