<nav class="nav" title="site navigation">
  <ul class="nav__list">
    <li class="nav__item nav__item--hover-bg"><a href="#" data-menu-item>О компании</a></li>
    <li class="nav__item"><a href="#" data-menu-item>Где купить</a></li>
    <li class="nav__item"><a href="#" data-menu-item>Блог</a></li>
    <li class="nav__item"><a href="#" data-menu-item>Курсы</a></li>
    <li class="nav__item nav__item--submenu">
      <a href="#"><span>Продукты</span></a>
      <ul>
        <li><a href="#" data-menu-item>GrunBaum</a></li>
        <li><a href="#" data-menu-item>Jaltest</a></li>
        <li><a href="#" data-menu-item>BrainStorm</a></li>
      </ul>
    </li>
    <li class="nav__item"><a href="#" data-menu-item>Контакты</a></li>
  </ul>
</nav>
