<section class="partners section-offset" id="partners">
  <div class="container container--lg">
    <div class="partners__inner">
      <h2 class="partners__title section-title centered">Наши партнеры</h2>
      <p class="partners__subtitle section-subtitle centered">Выбирайте представителя в вашем регионе</p>
      <div class="partners__content" data-tabs-container>
        <div class="partners__search search">
          <form action="">
            <div class="search__group">
              <div class="search__caption">Выберите страну</div>
              <div class="search__item">
                <input type="text" class="search__input input-reset" value="Казахстан">
                <a  class="search__btn btn-reset"><img src="img/clear-icon.svg" width="24" height="24"
                    alt=""></a>
              </div>
              <ul class="search__list">
                <li>Казахстан</li>
                <li>Киргизия</li>
                <li>Узбекистан</li>
                <li>Киргизия</li>
                <li>Казахстан</li>
                <li>Киргизия</li>
              </ul>
            </div>
            <div class="search__group">
              <div class="search__caption">Выберите город</div>
              <div class="search__item">
                <input type="text" class="search__input input-reset" value="Астана">
                <a  class="search__btn btn-reset"><img src="img/clear-icon.svg" width="24" height="24"
                    alt=""></a>
              </div>
              <ul class="search__list">
                <li>Астана</li>
                <li>Астана 1</li>
                <li>Астана 2</li>
                <li>Астана 3</li>
                <li>Астана 4</li>
                <li>Астана 5</li>
              </ul>
            </div>
          </form>
        </div>
        <div class="partners__tabs-content">
          <div class="partners__tabs-item" data-show-more-parent>
            @include('partners-items.html')
            <div class="centered">
              <button class="btn-link" data-show-more data-more="Смотреть больше" data-less="Смотреть меньше">Смотреть
                больше</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
