<ul class="partners__items">
  <li class="partners__item">
    <div class="partners__name">Силлан</div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+77015221582">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone" />
          </div>
          <span>+7 701 522-15-82</span>
        </a>
      </li>
      <li>
        <a href="mailto:info@sillan.kz">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email" />
          </div>
          <span>info@sillan.kz</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="http://sillan.kz" target="_blank">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__name">ДЮКОН (Pit-Stop)</div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+375293050778">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone" />
          </div>
          <span>+3 752 930-507-78</span>
        </a>
      </li>
      <li>
        <a href="mailto:info@dukon.by">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email" />
          </div>
          <span>info@dukon.by</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="http://dukon.by/" target="_blank">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__name">СМАРТКЕЙ</div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+996553931111">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone" />
          </div>
          <span>+9 965 539-311-11</span>
        </a>
      </li>
      <li>
        <a href="mailto:info@max.kg">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email" />
          </div>
          <span>info@max.kg</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="http://max.kg/" target="_blank">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__name">EUROTECHNO STANDARD MMC</div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+994558604873">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone" />
          </div>
          <span>+9 945 586-048-73</span>
        </a>
      </li>
      <li>
        <a href="mailto:aziatehnoholding@bk.ru">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email" />
          </div>
          <span>aziatehnoholding@bk.ru</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="https://autel.az/" target="_blank">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__name">TYRE UNIVERSAL SERVICE</div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+998712815940">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone" />
          </div>
          <span>+9 987 128-159-40</span>
        </a>
      </li>
      <li>
        <a href="mailto:info@tus.uz">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email" />
          </div>
          <span>info@tus.uz</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="http://tus.uz/" target="_blank">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__name">JSPRO</div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+998906002800">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone" />
          </div>
          <span>+9 989 060-028-00</span>
        </a>
      </li>
      <li>
        <a href="mailto:adamkarim@mail.ru">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email" />
          </div>
          <span>adamkarim@mail.ru</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="https://t.me/JsproUz" target="_blank">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__name">AUTO HOUSE</div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+37455599799">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone" />
          </div>
          <span>+3 745 559-97-99</span>
        </a>
      </li>
      <li>
        <a href="mailto:mish799@yandex.com">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email" />
          </div>
          <span>mish799@yandex.com</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="http://auto-house.am/" target="_blank">Перейти на сайт</a>
  </li>
  <li class="partners__item">
    <div class="partners__name">OBD AM</div>
    <ul class="partners__contacts">
      <li>
        <a href="tel:+37441100400">
          <div class="partners__contacts-icon">
            <img src="img/phone-icon.svg" width="13" height="13" alt="phone" />
          </div>
          <span>+3 744 110-04-00</span>
        </a>
      </li>
      <li>
        <a href="mailto:info@obd.am">
          <div class="partners__contacts-icon">
            <img src="img/email-icon.svg" width="13" height="13" alt="email" />
          </div>
          <span>info@obd.am</span>
        </a>
      </li>
    </ul>
    <a class="partners__btn" href="http://obd.am/" target="_blank">Перейти на сайт</a>
  </li>
</ul>
