<section class="support section-offset" id="support">
  <div class="container">
    <div class="support__inner">
      <div class="support__content">
        <div class="support__left">
          <h2 class="support__title section-title">Поддержка протокола <span>DoIP</span> и доступ к&nbsp;системам Security Gateway
            (SGW)</h2>
          <p class="support__subtitle section-subtitle">Фокусируемся на возможности доступов к последним
            моделям для&nbsp;наших пользователей</p>
        </div>
        <div class="support__right">
          <div class="support__list-title">Нашим клиентам доступны подписки&nbsp;SGW</div>
          <ol class="support__list">
            <li>Hyundai / KIA SGW</li>
            <li>Renault Group (Renault, Nissan, Dacia)</li>
            <li>FCA SGW (Fiat, Chrysler)</li>
          </ol>
          <div class="support__list-title">В разработке sGW</div>
          <ol class="support__list support__list--grey">
            <li>Volkswagen Group SGW (VW, AUDI, SKODA, SEAT)</li>
            <li>Mercedes Benz SGW</li>
          </ol>
        </div>
      </div>
      <div class="support__videos">
        <div class="support__video" data-video-src="video/support-1.mp4" data-video-poster="" data-video-trigger
          data-modal-open="modal-video" data-da=".support__left, 768">
          <div class="support__preview">
            <picture>
              <source srcset="img/support-preview.webp 1x, img/support-preview@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/support-preview.jpg"
                srcset="img/support-preview.jpg 1x, img/support-preview@2x.jpg 2x" width="527" height="212"
                alt="т">
            </picture>
            <div class="support__preview-info">
              <div class="support__play player-icon-sm">
                @include('../img/play-circle-icon.svg')
              </div>
              <button class="btn-link">Как работает SGW FCA <br> (FIAT, Chrysler, Jeep, Dodge)</button>
            </div>
          </div>
        </div>
        <div class="support__video" data-video-src="video/support-2.mp4" data-video-poster="" data-video-trigger
          data-modal-open="modal-video" data-da=".support__right, 768">
          <div class="support__preview">
            <picture>
              <source srcset="img/support-preview-2.webp 1x, img/support-preview-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/support-preview-2.jpg"
                srcset="img/support-preview-2.jpg 1x, img/support-preview-2@2x.jpg 2x" width="527" height="212"
                alt="т">
            </picture>
            <div class="support__preview-info">
              <div class="support__play player-icon-sm">
                @include('../img/play-circle-icon.svg')
              </div>
              <button class="btn-link">ВИДЕООБЗОР RENAULT SGW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
