<section class="trust section-offset">
  <div class="container">
    <div class="trust__inner">
      <div class="trust__info">
        <h2 class="trust__title section-title"><span class="color-accent trust__title-break">3&nbsp;621</span>
          автосканер
          AUTEL&nbsp;поставлен на&nbsp;СТО в&nbsp;СНГ
          в&nbsp;2021&nbsp;году
        </h2>
        <p class="section-subtitle">Благодарим вас за выбор AUTEL
        </p>
      </div>
      <ul class="trust__items">
        <li class="trust__item">
          <div class="trust__img">
            <picture>
              <source srcset="img/trust-1.webp 1x, img/trust-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/trust-1.png" srcset="img/trust-1.png 1x, img/trust-1@2x.png 2x" width="94"
                height="130" alt="reddot">
            </picture>
          </div>
          <div class="trust__item-info">
            <div class="trust__name">Международная премия <br> I PRODUCT DESIGN AWARD</div>
          </div>
        </li>
        <li class="trust__item">
          <div class="trust__img">
            <picture>
              <source srcset="img/trust-2.webp 1x, img/trust-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/trust-2.png" srcset="img/trust-2.png 1x, img/trust-2@2x.png 2x" width="202"
                height="166" alt="Золотой ключ 2018">
            </picture>
          </div>
          <div class="trust__item-info">
            <div class="trust__name">Золотой ключ 2018</div>
            <p>Лучшее диагностическое оборудование года</p>
          </div>
        </li>
        <li class="trust__item">
          <div class="trust__img">
            <picture>
              <source srcset="img/trust-3.webp 1x, img/trust-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/trust-3.png" srcset="img/trust-3.png 1x, img/trust-3@2x.png 2x" width="202"
                height="166" alt="Золотой ключ 2021">
            </picture>
          </div>
          <div class="trust__item-info">
            <div class="trust__name">Золотой ключ 2021</div>
            <p>Лучшее диагностическое оборудование года</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
