<section class="video section-offset">
  <div class="video__container container container--lg" style="background-image: url('img/video-preview-2.jpg');">
    <div class="video__inner">
      <h2 class="video__title section-title centered">Инновации Autel</h2>
      <p class="video__subtitle section-subtitle centered">Будущее автомобильной диагностики</p>
      <button class="btn-reset player-icon video__play" data-video-src="video/autel.mp4" data-video-trigger data-modal-open="modal-video">
        @include('../img/play-circle-icon.svg')
      </button>
    </div>
  </div>
</section>
