<section class="chars section-offset" id="chars">
  <div class="container">
    <div class="chars__inner">
      <h2 class="chars__title section-title centered">ХАРАКТЕРИСТИКИ ТА&nbsp;КОМПЛЕКТАЦІЯ</h2>
      <p class="chars__subtitle section-subtitle centered">Вибирайте те, що&nbsp;потрібно саме&nbsp;вам</p>
      <ul class="chars__list">
        <li class="chars__item">
          <div class="chars__img">
            <picture>
              <source srcset="img/scaner-1.webp 1x, img/scaner-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/scaner-1.jpg" srcset="img/scaner-1.jpg 1x, img/scaner-1@2x.jpg 2x" width="285" height="174" alt="MaxiSys MS906S SE">
            </picture>
          </div>
          <div class="chars__name">MaxiSys MS906S SE</div>
          <div class="chars__buttons">
            <button class="chars__btn btn-reset" data-modal-open="modal-complect-1">
              <span>Комплектація</span>
              @include('../../img/arrow-circle-icon.svg')
            </button>
            <button class="chars__btn btn-reset" data-modal-open="modal-chars" data-chars="1" data-name="MaxiSys MS906S SE">
              <span>Характеристики</span>
              @include('../../img/arrow-circle-icon.svg')
            </button>
          </div>
        </li>
        <li class="chars__item">
          <div class="chars__img">
            <picture>
              <source srcset="img/scaner-2.webp 1x, img/scaner-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/scaner-2.jpg" srcset="img/scaner-2.jpg 1x, img/scaner-2@2x.jpg 2x" width="285" height="174" alt="MaxiSys MS906 Pro">
            </picture>
          </div>
          <div class="chars__name">MaxiSys MS906 Pro</div>
          <div class="chars__buttons">
            <button class="chars__btn btn-reset" data-modal-open="modal-complect-2">
              <span>Комплектація</span>
              @include('../../img/arrow-circle-icon.svg')
            </button>
            <button class="chars__btn btn-reset" data-modal-open="modal-chars" data-chars="2" data-name="MaxiSys MS906 Pro">
              <span>Характеристики</span>
              @include('../../img/arrow-circle-icon.svg')
            </button>
          </div>
        </li>
        <li class="chars__item">
          <div class="chars__img">
            <picture>
              <source srcset="img/scaner-3.webp 1x, img/scaner-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/scaner-3.jpg" srcset="img/scaner-3.jpg 1x, img/scaner-3@2x.jpg 2x" width="285" height="174" alt="MaxiSys MS906 Pro MAX">
            </picture>
          </div>
          <div class="chars__name">MaxiSys MS906 Pro MAX</div>
          <div class="chars__buttons">
            <button class="chars__btn btn-reset" data-modal-open="modal-complect-3">
              <span>Комплектація</span>
              @include('../../img/arrow-circle-icon.svg')
            </button>
            <button class="chars__btn btn-reset" data-modal-open="modal-chars" data-chars="3" data-name="MaxiSys MS906 Pro MAX">
              <span>Характеристики</span>
              @include('../../img/arrow-circle-icon.svg')
            </button>
          </div>
        </li>
      </ul>
      <div class="centered">
        <a href="#" class="chars__btn-complect btn">ВІДЕООГЛЯД КОМПЛЕКТАЦІЙ</a>
      </div>
    </div>
  </div>
</section>

