<section class="compare section-offset" id="compare">
  <div class="container">
    <div class="compare__inner">
      <h2 class="section-title centered">ЗРОБИТЬ РОБОТУ НА&nbsp;30%&nbsp;ШВИДШЕ</h2>
      <p class="compare__subtitle section-subtitle centered">Короткий тест на 30 секунд швидше, ніж на MaxiSys MS906BT</p>
      <div class="compare__table">
        <table>
          <tr>
            <td class="compare__table-title uppercase">Характеристики</td>
            <td>
              <picture>
                <source srcset="img/characteristics-2.webp 1x, img/characteristics-2@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/characteristics-2.png"
                  srcset="img/characteristics-2.png 1x, img/characteristics-2@2x.png 2x" width="218" height="146"
                  alt="MS906 Pro">
              </picture>
            </td>
            <td>
              <picture>
                <source srcset="img/ms906pro.webp 1x, img/ms906pro@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/ms906pro.png" srcset="img/ms906pro.png 1x, img/ms906pro@2x.png 2x"
                  width="196" height="123" alt="ms906pro">
              </picture>
            </td>
          </tr>
          <tr>
            <td>Конфігурація планшета</td>
            <td class="compare__table-title color-accent">MS906BT</td>
            <td class="compare__table-title color-accent">MS906 Pro</td>
          </tr>
          <tr>
            <td>Процесор</td>
            <td>
              <div class="compare__desc-item text-medium">Samsung Exynos</div>
              <div class="compare__desc-item">1.3 GHz +1.7 GHz</div>
              <div class="compare__desc-item">HEXA - CORE</div>
            </td>
            <td>
              <div class="compare__desc-item text-medium">Qualcomm 660</div>
              <div class="compare__desc-item">2.3 GHz + 1.7 GHz</div>
              <div class="compare__desc-item">OCTA - CORE</div>
            </td>
          </tr>
          <tr>
            <td>Обсяг пам'яті</td>
            <td>64 GB SSD</td>
            <td>128 GB SDD</td>
          </tr>
          <tr>
            <td>Оперативна пам'ять</td>
            <td>2 GB</td>
            <td>4 GB</td>
          </tr>
          <tr class="compare__table-bottom">
            <td class="compare__table-empty">
              <div class="compare__table-title">Результат</div>
              <div class="compare__table-sm">Час короткого тесту <br> на Mercedes Benz E212 (49 систем)</div>
            </td>
            <td colspan="2" class="compare__time">
              <div class="compare__time-items">
                <div class="compare__time-item">
                  3 ХВ 23 СЕК
                </div>
                <div class="compare__time-arrow">
                  <img src="img/arrow-white.svg" width="49" height="33" alt="">
                </div>
                <div class="compare__time-item">
                  2 ХВ 55 СЕК
                </div>
              </div>
              <div class="compare__time-mob">Час короткого тесту <br>
              на Mercedes Benz E212 (49 систем)</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
