<section class="complect section-offset">
  <div class="container">
    <div class="complect__inner">
      <h2 class="section-title centered">94 МАРКИ У БАЗОВОМУ КОМПЛЕКТІ</h2>
      <p class="complect__subtitle section-subtitle centered">Працює з усіма марками які є на ринку</p>
      <ul class="complect__list">
        <li class="complect__item">
          <div class="complect__name">ЄВРОПА</div>
          <p><span>Розширена підтримка:</span> BMW, Mercedes Benz, VAG, Land Rover</p>
          <p>
            EU Ford, Renault, Abarth, Alfa Romeo, Bugatti, Opel, Vauxhall, Saab, Jaguar, Mercedes Benz Sprinter,
            Maybach, Smart,
            Porsche, Volvo, VW, Audi, Bentley, Seat, Skoda, Lancia, Lamborghini, MINI, VW CV, Citroen, VW LT3, Dacia,
            Rolls-Royce,
            Fiat, Peugeot, Aston Martin, Maserati, Ferrari, Iveco LD, MAN LD, DS</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">ЯПОНІЯ І ПІВДЕННА КОРЕЯ</div>
          <p><span>Розширена підтримка:</span> Hyundai, Kia, Toyota, Lexus.</p>
          <p>Honda, Suzuki, Isuzu, Acura, Nissan, Infiniti, Scion, Mitsubishi, Subaru, Daihatsu, Mazda; Nissan GTR,
            Fuso, HINO, UD,
            SsangYong, Daewoo, Hyundai CV, Samsung</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">Китай</div>
          <p><span>Розширена підтримка:</span> Chery, Haval, Geely,&nbsp;Exeed</p>
          <p>
            Byd, Brilliance, Great Wall, Foton, Borgward, MG, DFSK, Zotye, Emgrand, LDV, Saicmg, BAIC Motor, BAIC
            Senova, DFFG, Jac</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">США</div>
          <p>Chrysler, Jeep, GM, Dodge, Ford</p>
        </li>
        <li class="complect__item">
          <div class="complect__name">СНД</div>
          <p>ВАЗ, ГАЗ, ІЖ, КамАЗ, МАЗ, ПАЗ, СеАЗ,&nbsp;УАЗ,&nbsp;ЗАЗ</p>
        </li>
      </ul>
      <div class="centered">
        <a href="https://www.auteltech.com/vehicle-coverage/coverage2" target="_blank" class="btn">ТАБЛИЦІ ЗАСТОСУВАННЯ АВТОСКАНЕРА</a>
      </div>
    </div>
  </div>
</section>
