<section class="documentation section-offset">
  <div class="container container--sm">
    <div class="documentation__inner">
      <h2 class="section-title centered">ТЕХНІЧНА ДОКУМЕНТАЦІЯ <br> HAYNES&nbsp;PRO</h2>
      <p class="documentation__subtitle section-subtitle centered">З інтеграцією до функцій діагностики</p>
      <ul class="cards__list cards__list--big">
        <li class="cards__item cards__item--big">
          <div class="cards__name">Haynes PRO Electronics Full</div>
          <ul>
            <li>Кольорові інтелектуальні електросхеми</li>
            <li>Детальні покрокові інструкції з перевірки</li>
            <li>Методи діагностики</li>
            <li>Розшифрування кодів несправностей</li>
            <li>Схеми, призначення контактів роз'ємів</li>
          </ul>
          <div class="cards__img">
            <picture>
              <source srcset="img/documentation-1.webp 1x, img/documentation-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/documentation-1.png" srcset="img/documentation-1.png 1x, img/documentation-1@2x.png 2x" width="270" height="260" alt="haynes pro">
            </picture>
          </div>
        </li>
        <li class="cards__item cards__item--big">
          <div class="cards__name">Haynes PRO SMART</div>
          <ul>
            <li>Методи усунення кодів несправностей</li>
            <li>База з відомих несправностей</li>
            <li>SMARTCASE – база механічних несправностей</li>
            <li>База TSB (Technical Service Bulletin)</li>
            <li>Компанії щодо відклику</li>
          </ul>
          <div class="cards__img">
            <picture>
              <source srcset="img/documentation-2.webp 1x, img/documentation-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/documentation-2.png" srcset="img/documentation-2.png 1x, img/documentation-2@2x.png 2x"
                width="310" height="193" alt="haynes pro">
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
