<section class="garanty section-offset" id="garanty">
  <div class="container">
    <div class="garanty__inner">
      <h2 class="section-title centered">МІНІМІЗУЄМО РИЗИКИ ПРОСТОЮ&nbsp;СТО</h2>
      <p class="garanty__subtitle section-subtitle centered">Забезпечимо оперативну технічну, гарантійну та&nbsp;післягарантійну підтримку</p>
      <ul class="garanty__list">
        <li class="garanty__item">
          <div class="garanty__img">
            <picture>
              <source srcset="img/support-1.webp 1x, img/support-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/support-1.jpg" srcset="img/support-1.jpg 1x, img/support-1@2x.jpg 2x" width="284" height="164" alt="">
            </picture>
          </div>
          <div class="garanty__name">ЄВРОПЕЙСЬКА ГАРАНТІЯ</div>
          <p>2 роки гарантії <span class="garanty__name-break">від AUTEL EUROPE</span> </p>
        </li>
        <li class="garanty__item">
          <div class="garanty__img">
            <picture>
              <source srcset="img/support-2.webp 1x, img/support-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/support-2.jpg" srcset="img/support-2.jpg 1x, img/support-2@2x.jpg 2x" width="284" height="164" alt="">
            </picture>
          </div>
          <div class="garanty__name">ВІДДАЛЕНА ДІАГНОСТИКА</div>
          <p>Перевіримо віддалено через TeamViewer систему у разі виникнення збоїв</p>
        </li>
        <li class="garanty__item">
          <div class="garanty__img">
            <picture>
              <source srcset="img/support-3.webp 1x, img/support-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/support-3.jpg" srcset="img/support-3.jpg 1x, img/support-3@2x.jpg 2x" width="284" height="164" alt="">
            </picture>
          </div>
          <div class="garanty__name">СЕРВІСНІ ЦЕНТРИ</div>
          <p>11 сервісних центрів у СНД готові оперативно надати підтримку</p>
        </li>
      </ul>
    </div>
  </div>
</section>
