<header class="header">
  <!-- <div class="header__top">
    <div class="header__top-container container container--lg">
      <a class="header__logo header__col" href="./">
        <img width="203" height="40" src="img/logo.svg" alt="autel">
      </a>
      @include('nav.html')
      <a class="header__btn" href="#">Магазин</a>
      <a class="header__phone-mob" href="tel:+380503795456">+38 097 979 54 56</a>
      <button class="burger" data-burger aria-label="Открыть меню">
        <span class="burger__line"></span>
      </button>
    </div>
  </div> -->
  <div class="header__bottom">
    <div class="header__bottom-container container container--lg">
      <a class="header__bottom-logo" href="./">
        <img src="img/logo-2.svg" width="147" height="23" alt="autel">
      </a>
      <nav class="nav" title="site navigation">
        <ul class="nav__list">
          <li class="nav__item nav__item--hover-accent"><a href="#chars" data-menu-item data-scroll>Порівняння</a></li>
          <li class="nav__item nav__item--hover-accent"><a href="#settings" data-menu-item data-scroll>Функції</a></li>
          <li class="nav__item nav__item--hover-accent"><a href="#remote" data-menu-item data-scroll>Remote Expert</a></li>
          <li class="nav__item nav__item--hover-accent"><a href="#study" data-menu-item data-scroll>Навчання</a></li>
          <li class="nav__item nav__item--hover-accent"><a href="#partners" data-menu-item data-scroll>Партнери</a></li>
        </ul>
      </nav>
      <a class="header__phone" href="tel:+380503795456">+38 097 979 54 56</a>
    </div>
  </div>
  <div class="menu" data-menu>
    <div class="menu__buttons">
      <a class="menu__btn btn-outline btn-outline--accent" href="#">Магазин</a>
    </div>
    @include('nav.html')
    <a class="menu__phone" href="tel:+380503795456">+38 097 979 54 56</a>
    <a class="menu__email" href="mailto:info@autel-ukraine.com.ua">info@autel-ukraine.com.ua</a>
    @include('socials.html', {classes: ''})
  </div>
  <div class="overlay" data-menu-overlay></div>
</header>
