<section class="interface section-offset" id="interface">
  <div class="container">
    <div class="interface__inner">
      <div class="interface__content">
        <h2 class="interface__title section-title">Інтуїтивно&nbsp;зрозумілий і&nbsp;адаптований інтерфейс</h2>
        <p class="interface__subtitle section-subtitle">Для роботи досить рівня досвідченого механіка</p>
        <ul class="interface__list">
          <li>Професійний переклад російською мовою</li>
          <li>Швидке розпізнавання авто за&nbsp;VIN-номером</li>
          <li>Інформаційні підказки щодо&nbsp;функцій</li>
        </ul>
      </div>
      <div class="interface__img" data-da=".interface__content, 1024, 2">
        <picture>
          <source srcset="img/interface.webp 1x, img/interface@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/interface.jpg" srcset="img/interface.jpg 1x, img/interface@2x.jpg 2x" width="435"
               height="503" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
