<section class="maxiscope section-offset" id="benefits">
  <div class="container">
    <div class="maxiscope__inner">
      <h2 class="maxiscope__title section-title centered">ІНТЕГРОВАНИЙ АВТОМОБІЛЬНИЙ ОСЦИЛОГРАФ MaxiScope&nbsp;MP408</h2>
      <p class="maxiscope__subtitle section-subtitle centered">Підтримка діагностики шин CAN&nbsp;та&nbsp;LIN</p>
      <div class="maxiscope__content">
        <div class="maxiscope__col">
          <div class="maxiscope__item">
            <div class="maxiscope__value">4 СН</div>
            <p>канала</p>
          </div>
          <div class="maxiscope__item">
            <div class="maxiscope__value">20 МГц</div>
            <p>частота на канал</p>
          </div>
        </div>
        <div class="maxiscope__img">
          <picture>
            <source srcset="img/maxiscope.webp 1x, img/maxiscope@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/maxiscope.png" srcset="img/maxiscope.png 1x, img/maxiscope@2x.png 2x" width="608" height="342" alt="maxiscope">
          </picture>
        </div>
        <div class="maxiscope__col">
          <div class="maxiscope__item">
            <div class="maxiscope__value">200 В</div>
            <p>межа виміру</p>
          </div>
          <div class="maxiscope__item">
            <div class="maxiscope__value">32 Мб</div>
            <p>пам'ять буфера</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
