<section class="module section-offset">
  <div class="container">
    <div class="module__inner">
      <div class="module__content">
        <h2 class="module__title section-title">МОДУЛЬ ОБСЛУГОВУВАННЯ СИСТЕМ ЕНЕРГОЗАБЕЗПЕЧЕННЯ</h2>
        <p class="module__subtitle section-subtitle">Тести АКБ, стартера, генератора <br>
          та сервіс із заміни АКБ (BMS)
        </p>
      </div>
      <div class="module__video" data-video-src="video/tests-1.mp4" data-video-trigger data-modal-open="modal-video">
        <picture>
          <source srcset="img/module-preview.webp 1x, img/module-preview@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/module-preview.png"
            srcset="img/module-preview.png 1x, img/module-preview@2x.png 2x" width="487" height="423" alt="">
        </picture>
        <div class="module__video-btn">
          <div class="module__play player-icon-sm">
            @include('../../img/play-circle-icon.svg')
          </div>
          <div class="btn-link">Огляд функцій модуля</div>
        </div>
      </div>
    </div>
  </div>
</section>
