<section class="recharge section-offset" id="recharge">
  <div class="container">
    <div class="recharge__inner">
      <h2 class="section-title centered">РОБОЧА ЗМІНА БЕЗ&nbsp;ПІДЗАРЯДКИ</h2>
      <p class="recharge__subtitle section-subtitle centered">Ємність АКБ на&nbsp;16%&nbsp;більше за попередника</p>
      <div class="recharge__items">
        <div class="recharge__item recharge__item--black">
          <div class="recharge__label">/ було</div>
          <div class="recharge__name">MaxiSys <span>MS906BT</span></div>
          <div class="recharge__info">
            <div class="recharge__icon">
              <img src="img/examples-battery.svg" width="84" height="84" alt="">
            </div>
            <div class="recharge__hours">8</div>
            <div class="recharge__text">8 годин роботи <br> без підзарядки</div>
          </div>
          <div class="recharge__footer">
            <div class="recharge__footer-info">
              <div class="recharge__caption">Ємність АКБ: <br> <span>10 000 мАг</span></div>
            </div>
            <div class="recharge__bar">
              <div class="recharge__bar-fill"></div>
            </div>
          </div>
        </div>
        <div class="recharge__arrow">
          <img src="img/arrow-white-long.svg" width="75" height="32" alt="">
        </div>
        <div class="recharge__item recharge__item--white">
          <div class="recharge__label">/ стало</div>
          <div class="recharge__name">MaxiSys <span>MS906 Pro</span></div>
          <div class="recharge__info">
            <div class="recharge__icon">
              <img src="img/examples-battery-2.svg" width="84" height="84" alt="">
            </div>
            <div class="recharge__hours">10</div>
            <div class="recharge__text">годин роботи <br> без підзарядки</div>
          </div>
          <div class="recharge__footer">
            <div class="recharge__footer-info">
              <div class="recharge__caption">Ємність АКБ: <span>11 600 мАг</span></div>
              <div class="recharge__value">+16 %</div>
            </div>
            <div class="recharge__bar">
              <div class="recharge__bar-fill" style="width: 86px;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="recharge__bottom">
        <div class="recharge__bottom-icon">
          <img src="img/charging-icon.svg" width="24" height="24" alt="">
        </div>
        <div class="recharge__bottom-content">
          <div class="recharge__bottom-title">УМОВИ ТЕСТУВАННЯ</div>
          <ul class="recharge__list">
            <li>Вимкнено режим сну</li>
            <li>Включений Wi-FI та Bluetooth</li>
            <li>Проведено 10 циклів тестів систем автомобілів</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
