<section class="remote section-offset" id="remote">
  <div class="container">
    <div class="remote__inner">
      <h2 class="section-title centered">REMOTE EXPERT</h2>
      <p class="remote__subtitle section-subtitle centered">Платна віддалена експертна підтримка</p>
      <div class="remote__content">
        <div class="remote__video" data-video-src="video/remote.mp4"
        data-video-poster="" data-video-trigger data-modal-open="modal-video">
          <div class="remote__preview">
            <picture>
              <source srcset="img/remote-preview.webp 1x, img/remote-preview@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/remote-preview.jpg" srcset="img/remote-preview.jpg 1x, img/remote-preview@2x.jpg 2x" width="446" height="370" alt="">
            </picture>
          </div>
          <div class="remote__video-items">
            <div class="remote__play player-icon-sm">
              @include('../../img/play-circle-icon.svg')
            </div>
            <button class="btn-link">ЯК ЦЕ ПРАЦЮЄ</button>
          </div>
        </div>
        <ul class="remote__list">
          <li class="remote__item">Віддалене&nbsp;кодування та&nbsp;програмування&nbsp;ECU</li>
          <li class="remote__item">Віддалена&nbsp;діагностика складних&nbsp;випадків</li>
          <li class="remote__item">Дистанційна&nbsp;діагностика OEM&nbsp;програмами</li>
          <li class="remote__item">Віддалене&nbsp;додавання&nbsp;нових ключів&nbsp;та&nbsp;заміна&nbsp;блоків&nbsp;IMMO</li>
        </ul>
      </div>
    </div>
  </div>
</section>
