<section class="report section-offset" id="report">
  <div class="container">
    <h2 class="section-title centered">AUTEL CLOUD REPORT</h2>
    <p class="report__subtitle section-subtitle centered">Надавайте звіти про діагностику клієнтам&nbsp;та&nbsp;колегам</p>
    <div class="report__inner">
      <div class="report__img">
        <picture>
          <source srcset="img/report.webp 1x, img/report@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/report.jpg" srcset="img/report.jpg 1x, img/report@2x.jpg 2x" width="551" height="589" alt="">
        </picture>
      </div>
      <div class="report__content">
        <div class="report__content-title block-title">ЯКІ ФУНКЦІЇ ДОСТУПНІ</div>
        <ul class="report__list">
          <li class="report__item">
            <div class="report__icon">
              <img src="img/cloud-icon.svg" width="24" height="24" alt="">
            </div>
            <p>Збереження звітів на сервері Autel</p>
          </li>
          <li class="report__item">
            <div class="report__icon">
              <img src="img/link-icon.svg" width="24" height="24" alt="">
            </div>
            <p>Доступ до звіту за посиланням, email та QR коду</p>
          </li>
          <li class="report__item">
            <div class="report__icon">
              <img src="img/keyboard-icon.svg" width="24" height="24" alt="">
            </div>
            <p>Доступ до бази всіх звітів</p>
          </li>
        </ul>
        <div class="report__content-title block-title">СКАНУЙТЕ І ПЕРЕВІРТЕ ПРЯМО <br> ЗАРАЗ ЯК ЦЕ ПРАЦЮЄ</div>
        <div class="report__codes">
          <div class="report__qr">
            <div class="report__qr-img">
              <picture>
                <source srcset="img/qr-2.webp 1x, img/qr-2@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/qr-2.png" srcset="img/qr-2.png 1x, img/qr-2@2x.png 2x" width="164" height="164" alt="qr">
              </picture>
            </div>
            <p>Приклад <span class="report__text-br"></span> звіту <span class="report__text-break">короткого <span class="report__text-br"></span> тесту</span>
            </p>
            <a class="report__qr-link" target="_blank" href="https://gateway-prodeu.autel.com/api/pdf-report-manage/pdf-report/download/659ac90a9af3435aa3187b8207ec4959"></a>
          </div>
          <div class="report__qr">
            <div class="report__qr-img">
              <picture>
                <source srcset="img/qr.webp" type="image/webp">
                <img loading="lazy" src="img/qr.png" width="158" height="156" alt="qr">
              </picture>
            </div>
            <p>Приклад звіту&nbsp;тестування&nbsp;систем <span class="report__text-break">енергозабезпечення</span> </p>
            <a class="report__qr-link" target="_blank" href="https://gateway-prodeu.autel.com/api/pdf-report-manage/pdf-report/download/ccdf467ac0dc4092883b1627b09185a3"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
