<section class="settings section-banner" id="settings">
  <div class="banner">
    <div class="container">
      <div class="banner__inner">
        <div class="banner__title">РЕШЕНИЕ</div>
        <p>для мастера-приемщика</p>
      </div>
    </div>
  </div>
  <div class="settings__main">
    <div class="container container--sm">
      <h2 class="settings__title section-title centered">Функции для&nbsp;процессов приемки и&nbsp;выдачи
        автомобилей</h2>
      <p class="settings__subtitle section-subtitle centered">Фокусируемся на&nbsp;возможности <span class="settings__subtitle-break"></span> доступов к&nbsp;последним
        моделям&nbsp;для наших&nbsp;пользователей</p>
      <div class="settings__img">
        <div class="settings__img-inner">
          <picture>
            <source srcset="img/settings.webp 1x, img/settings@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/settings.png" srcset="img/settings.png 1x, img/settings@2x.png 2x" width="524"
                 height="380" alt="autel">
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="settings__footer">
    <div class="container">
      <ul class="settings__items">
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/file-icon.svg" width="28" height="28" alt="">
          </div>
          <div class="settings__item-text">Краткий тест <br>
            с расшифровкой</div>
        </li>
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/user-icon.svg" width="28" height="28" alt="">
          </div>
          <div class="settings__item-text">Отправка отчета <br>
            для клиента</div>
        </li>
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/pencil-icon.svg" width="28" height="28" alt="">
          </div>
          <div class="settings__item-text">Финальный отчет <br>
            с рекомендациями</div>
        </li>
      </ul>
    </div>
  </div>
</section>
