<section class="settings section-offset" id="settings">
  <div class="container container--sm">
    <div class="settings__inner">
      <h2 class="settings__title section-title centered">НОВІ ФУНКЦІЇ ДЛЯ&nbsp;ECU <br> ТА&nbsp;НАЛАШТУВАНЬ КОРИСТУВАЧІВ</h2>
      <p class="settings__subtitle section-subtitle centered">Інструменти для штатної роботи з блоками управління</p>
      <div class="settings__main">
        <div class="settings__col">
          <div class="settings__list-item">
            <div class="settings__list-num">01/</div>
            <div class="settings__list-text">Code cloud backup</div>
          </div>
          <div class="settings__list-item">
            <div class="settings__list-num">02/</div>
            <div class="settings__list-text">Backup/Restore vehicle  individual coding data</div>
          </div>
        </div>
        <div class="settings__col settings__img">
          <picture>
            <source srcset="img/settings.webp 1x, img/settings@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/settings.png" srcset="img/settings.png 1x, img/settings@2x.png 2x" width="524"
              height="380" alt="autel">
          </picture>
        </div>
        <div class="settings__col">
          <div class="settings__list-item">
            <div class="settings__list-num">03/</div>
            <div class="settings__list-text">Backup/Restore Software Calibration Number (SCN) code</div>
          </div>
          <div class="settings__list-item">
            <div class="settings__list-num">04/</div>
            <div class="settings__list-text">Cheat coding (BMW) и&nbsp;Retrofit&nbsp;(Mercedes)</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="settings__footer">
    <div class="container">
      <div class="settings__footer-title">ЯКІ РОБОТИ ВИ ЗМОЖЕТЕ ВИКОНУВАТИ&nbsp;САМОСТІЙНО</div>
      <ul class="settings__items">
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/shuffle-icon.svg" width="20" height="20" alt="">
          </div>
          <div class="settings__item-text">Заміна блоків <br> управління</div>
        </li>
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/settings-icon.svg" width="24" height="24" alt="">
          </div>
          <div class="settings__item-text">Зміни <span class="settings__text-break">налаштувань</span> користувача</div>
        </li>
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/settings-2-icon.svg" width="24" height="24" alt="">
          </div>
          <div class="settings__item-text">Зміни заводських кодувальних даних (комплектація)</div>
        </li>
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/wrench-accent-icon.svg" width="24" height="24" alt="">
          </div>
          <div class="settings__item-text">Відновлення базових кодувальних даних, за необхідності</div>
        </li>
      </ul>
    </div>
  </div>
</section>
