<section class="settings section-banner" id="settings">
  <div class="banner">
    <div class="container">
      <div class="banner__inner">
        <div class="banner__title">Рішення</div>
        <p>для майстра-приймальника</p>
      </div>
    </div>
  </div>
  <div class="settings__main">
    <div class="container container--sm">
      <h2 class="settings__title section-title centered">Функції для&nbsp;процесів приймання та&nbsp;видачі
        автомобілів</h2>
      <p class="settings__subtitle section-subtitle centered">Фокусуємось на&nbsp;можливості доступу до&nbsp;останніх
        моделей для&nbsp;наших користувачів</p>
      <div class="settings__img">
        <div class="settings__img-inner">
          <picture>
            <source srcset="img/settings.webp 1x, img/settings@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/settings.png" srcset="img/settings.png 1x, img/settings@2x.png 2x" width="524"
                 height="380" alt="autel">
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="settings__footer">
    <div class="container">
      <ul class="settings__items">
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/file-icon.svg" width="28" height="28" alt="">
          </div>
          <div class="settings__item-text">Короткий тест <br>
            з розшифровкою
          </div>
        </li>
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/user-icon.svg" width="28" height="28" alt="">
          </div>
          <div class="settings__item-text">Відправка звіту <br>
            для клієнта
          </div>
        </li>
        <li class="settings__item">
          <div class="settings__icon">
            <img src="img/pencil-icon.svg" width="28" height="28" alt="">
          </div>
          <div class="settings__item-text">Фінальний звіт <br>
            з рекомендаціями
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
