<section class="study section-offset" id="study">
  <div class="container">
    <div class="study__inner">
      <h2 class="section-title centered">ЗРОСТАЙТЕ ЯК&nbsp;фахівець</h2>
      <p class="study__subtitle section-subtitle centered">Навчання тільки для користувачів MaxiSys</p>
      <div class="study__content">
        <div class="study__img">
          <picture>
            <source srcset="img/study.webp 1x, img/study@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/study.jpg" srcset="img/study.jpg 1x, img/study@2x.jpg 2x" width="1077"
              height="597" alt="Обучение в лаборатории BRAINSTORM">
          </picture>
        </div>
        <ul class="study__items">
          <li class="study__item">
            <div class="study__item-inner">
              <div class="study__num">16</div>
              <div class="study__text">
                <div class="study__name">ГОДИН <br> ТРЕНІНГУ</div>
                <p>в лабораторії <br> на Mercedes Benz E212</p>
              </div>
            </div>
          </li>
          <li class="study__item">
            <div class="study__item-inner">
              <div class="study__num">10+</div>
              <div class="study__text">
                <div class="study__name">ГОДИН <br> ВІДЕОКУРСІВ</div>
                <p>щодо електронних <br>
                  систем управління</p>
              </div>
            </div>
          </li>
          <li class="study__item">
            <div class="study__item-inner">
              <div class="study__num">10</div>
              <div class="study__text">
                <div class="study__name">ГОДИН <span class="study__name-break">ОНЛАЙН ТРЕНІНГУ</span></div>
                <p>з технічним експертом <br> BRAINSTORM</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
