<section class="tests section-offset">
  <div class="container">
    <div class="tests__inner">
      <h2 class="tests__title section-title centered">Модуль обслуживания систем энергообеспечения</h2>
      <p class="tests__subtitle section-subtitle centered">С функциями сервиса систем BMS</p>
      <ul class="tests__list">
        <li class="tests__item">
          <div class="tests__name">Тесты АКБ на автомобиле</div>
          <p>Позволяют быстро оценить состояние АКБ, подключённого к системе энергораспределения</p>
          <div class="tests__preview" data-video-src="video/tests-1.mp4" data-video-trigger data-modal-open="modal-video">
            <picture>
              <source srcset="img/test-preview-1.webp 1x, img/test-preview-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/test-preview-1.jpg" srcset="img/test-preview-1.jpg 1x, img/test-preview-1@2x.jpg 2x"
                width="339" height="196" alt="тесты">
            </picture>
            <div class="tests__play player-icon-sm">
              @include('../../img/play-circle-icon.svg')
            </div>
          </div>
        </li>
        <li class="tests__item">
          <div class="tests__name">Тесты АКБ без автомобиля</div>
          <p>Позволяют быстро оценить состояние нового и&nbsp;б\у&nbsp;АКБ без подключения к автомобилю</p>
          <div class="tests__preview"  data-video-src="video/tests-1.mp4" data-video-trigger data-modal-open="modal-video">
            <picture>
              <source srcset="img/test-preview-2.webp 1x, img/test-preview-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/test-preview-2.jpg" srcset="img/test-preview-2.jpg 1x, img/test-preview-2@2x.jpg 2x"
                width="339" height="196" alt="тесты">
            </picture>
            <div class="tests__play player-icon-sm">
              @include('../../img/play-circle-icon.svg')
            </div>
          </div>
        </li>
        <li class="tests__item">
          <div class="tests__name">Тесты систем запуска и зарядки</div>
          <p>Позволяют быстро выявить неисправности компонентов систем</p>
          <div class="tests__preview"  data-video-src="video/tests-3.mp4" data-video-trigger data-modal-open="modal-video">
            <picture>
              <source srcset="img/test-preview-3.webp 1x, img/test-preview-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/test-preview-3.jpg" srcset="img/test-preview-3.jpg 1x, img/test-preview-3@2x.jpg 2x"
                width="339" height="196" alt="тесты">
            </picture>
            <div class="tests__play player-icon-sm">
              @include('../../img/play-circle-icon.svg')
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
