<section class="video">
  <div class="video__container container container--lg video__container--accent video__container--border"
       style="background-image: url('img/video-preview-1.jpg');">
    <div class="video__inner">
      <h2 class="video__title section-title centered">РОЗРОБЛЕНО СПЕЦІАЛЬНО ДЛЯ АВТОМЕХАНІКІВ, АВТОЕЛЕКТРИКІВ І&nbsp;МАЙСТРІВ-ПРИЙМАЛЬНИКІВ</h2>
      <button class="btn-reset player-icon video__play" data-video-src="video/autel-1.mp4" data-video-trigger
              data-modal-open="modal-video">
        @include('../../img/play-circle-icon.svg')
      </button>
    </div>
  </div>
</section>
