@include desktop {
  .menu {
    display: none;
  }
}

// 1440
@include big-desktop {
  .banner__inner {
    left: -100px;
  }
}

// 1280
@include small-desktop {
  .section-banner {
    padding-top: 80px;
  }

  .banner {
    position: relative;
    z-index: 3;
    margin-bottom: 20px;
    text-align: center;

    &__inner {
      position: static;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 8px 14px;
    }

    &__title {
      margin-right: 8px;
    }
  }

  .header {
    &__bottom {
      .header__col {
        display: none;
      }
    }

    &__col {
      width: auto;
    }

    &__logo {
      margin-right: 30px;

      img {
        width: 160px;
      }
    }

    &__btn {
      margin-left: 30px;
    }
  }

  .nav {
    &__item {
      margin-right: 20px;
    }
  }

  .diagnostic {
    &__img {
      right: 126px;
      width: 330px;

      img {
        min-width: 450px;
      }
    }

    &__inner,
    &__box {
      grid-template-columns: 1fr 1.9fr;
    }
  }

  .cards {
    &__item {
      padding: 77px 43px 40px;
      min-height: 296px;
      background-position: top 2px center;
      background-size: 95%;

      &--big {
        padding: 129px 43px 40px;
        min-height: auto;
      }
    }

    &__name {
      margin-bottom: 12px;
      font-size: 24px;
    }

    &__icon {
      width: 40px;
      height: 40px;

      img {
        width: 20px;
      }
    }
  }

  .chars {
    &__list {
      gap: 18px;
    }
  }

  .trust {
    &__img {
      padding: 25px 0;
      width: 170px;
    }

    &__item-info {
      padding: 26px 20px;
    }

    &__name {
      font-size: 20px;
    }
  }

  .partners {
    &__content {
      grid-template-columns: 200px auto;
    }

    &__tabs a {
      padding: 12px 30px;
    }

    &__item {
      padding: 25px 20px;
    }

    &__name {
      font-size: 24px;
    }
  }
}

// 1024
@include tablet {
  .section-offset {
    padding: 60px 0;
  }

  .section-banner {
    padding-bottom: 60px;
  }

  .section-title {
    margin-bottom: 14px;
    font-size: 26px;
    line-height: 1.2;
  }

  .block-title {
    font-size: 19px;
  }

  .section-subtitle {
    font-size: 16px;
  }

  .header {
    &__bottom {
      overflow: auto;
      background-color: transparent;
    }

    &__phone-mob {
      position: relative;
      display: block;
      margin-right: 17px;
      margin-left: auto;
      padding-left: 28px;
      font-size: 14px;
      letter-spacing: 0.01em;
      transition: $transition;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 22px;
        height: 22px;
        background: url("../img/phone-circle-icon.svg") center no-repeat;
        transform: translateY(-50%);
      }
    }

    &__top {
      padding: 11px 0;

      &-container {
        justify-content: space-between;
      }

      .nav {
        display: none;
      }
    }

    &__logo {
      position: relative;
      z-index: 8;
    }

    &__btn,
    &__phone,
    &__link {
      display: none;
    }
  }

  .menu {
    position: fixed;
    left: 0;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    z-index: 7;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 24px 15px 77px;
    background-color: $black-color;
    opacity: 0;
    transition: $menu-transition ease;

    &__buttons {
      display: grid;
      align-self: stretch;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 9px;
    }

    .nav {
      margin: 24px 0 42px;
      width: 100%;

      &__list {
        display: block;
      }

      &__item {
        margin: 0;

        > a {
          position: relative;
          font-size: 20px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 20px;
            border-radius: 2px;
            width: 12px;
            height: 12px;
            background-color: $g1-color;
          }
        }

        a {
          display: block;
          padding: 16px 0 16px 31px;
        }

        &--submenu {
          > a {
            transition: $transition;

            &::before {
              transition: $transition;
            }

            > span {
              padding-right: 35px;
              padding-left: 0;

              &::after {
                top: 6px;
                width: 14px;
                height: 10px;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1.93299L7.11597 7.81705L1.23191 1.93299' stroke='%23fff' stroke-width='2.79318'/%3E%3C/svg%3E%0A");
              }
            }
          }

          > ul {
            position: static;
            color: $light-color;
            background-color: transparent;

            > li {
              > a {
                font-size: 16px;

                &::before {
                  display: none;
                }
              }
            }
          }

          &.is-active {
            > a {
              color: $accent-color;

              &::before {
                background-color: $accent-color;
              }

              > span::after {
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1.93299L7.11597 7.81705L1.23191 1.93299' stroke='%23D2232A' stroke-width='2.79318'/%3E%3C/svg%3E%0A");
                transform: rotate(180deg);
              }
            }

            ul {
              display: block;
            }
          }
        }
      }
    }

    &__phone {
      margin-bottom: 6px;
      font-size: 20px;
      line-height: 1.4;
      text-align: center;
      color: #f4f4f4;
    }

    &__email {
      margin-bottom: 18px;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: #f4f4f4;
    }

    &.is-active {
      opacity: 1;
    }
  }

  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    z-index: 5;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
    opacity: 0;
    transition: $menu-transition;

    &.is-active {
      opacity: 1;
    }
  }

  .hero {
    padding-top: 25px;
    padding-bottom: 80px;

    &::after {
      display: none;
    }

    &__inner {
      &::before {
        left: 0;
        right: 0;
        top: 224px;
        bottom: auto;
        margin: 0 auto;
        width: 222px;
        height: 222px;
        filter: blur(34px);
      }
    }

    &__title {
      margin-right: auto;
      margin-left: auto;
      max-width: 400px;
      font-size: 36px;
      line-height: 1.2;

      span {
        font-size: 36px;
      }
    }

    &__subtitle {
      margin-right: auto;
      margin-bottom: 22px;
      margin-left: auto;
      max-width: 277px;
      font-size: 16px;
      line-height: 1.3;
    }
  }

  .settings {
    &__subtitle {
      max-width: 490px;
    }
  }

  .hero-benefits {
    top: -84px;

    &__list {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      border: none;
      padding: 0;
      max-width: 700px;
      backdrop-filter: none;
      gap: 0;
    }

    &__item {
      display: block;
      padding: 20px;
      min-width: auto;
      box-shadow: 0 0 0 1px #343535;
      background: #131010;

      &:first-child {
        order: 2;
        border-bottom-left-radius: 10px;
      }

      &:last-child {
        order: 4;
        border-bottom-right-radius: 10px;
      }

      &:nth-child(2) {
        order: -1;
        border-top-left-radius: 10px;
      }

      &:nth-child(3) {
        border-top-right-radius: 10px;
      }
    }

    &__icon {
      margin-bottom: 8px;
      width: 30px;
      height: 30px;

      img {
        width: 18px;
        height: 18px;
      }
    }

    &__text {
      margin-left: 0;
      font-weight: 500;
      font-size: 14px;
    }
  }

  .interface {
    &__subtitle {
      margin: 0 auto 30px;
      max-width: 310px;
      text-align: center;
    }

    &__title {
      margin: 0 auto 16px;
      max-width: 350px;
      text-align: center;
    }

    &__inner {
      display: block;

      &::after {
        display: none;
      }
    }

    &__img {
      margin: 0 auto 18px;
      text-align: center;

      picture {
        justify-content: center;
      }

      img {
        max-height: 200px;
      }
    }
  }

  .documentation {
    &__title {
      margin-right: auto;
      margin-left: auto;
      max-width: 343px;
    }
  }

  .settings {
    &__items {
      display: block;
      margin: 0 auto;
      max-width: 600px;
    }

    &__img {
      &::before,
      &::after {
        bottom: -150px;
      }
    }

    &__item {
      &:first-child {
        border-radius: 10px 10px 0 0;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  .report {
    &::before {
      display: none;
    }

    &::after {
      @include bg-circle(231px);

      right: -100px;
      bottom: 0;
      background: rgba(139, 103, 103, 20%);
      filter: blur(38.033px);
    }

    &__inner {
      display: block;
    }

    &__img {
      margin: 0 auto 30px;
      max-width: 600px;
    }

    &__content-title {
      text-align: center;
    }

    &__list {
      margin-bottom: 30px;
    }

    &__subtitle {
      margin-bottom: 30px;
    }

    &__codes {
      justify-content: center;
    }

    &__text-br {
      display: block;
    }

    &__text-break {
      display: inline;
    }

    &__qr {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid $g4-color;
      border-radius: 10px;
      padding: 18px 14px;
      width: 160px;
      text-align: center;

      p {
        margin-bottom: 16px;
        font-size: 14px;
      }
    }

    &__qr-img {
      display: none;
    }

    &__qr-link {
      @include circle(38px);
      @include flex-all-center;

      display: inline-block;
      margin-top: auto;
      background: url("../img/arrow-right-sm.svg") center no-repeat;
      background-color: $accent-color;

      &::after {
        position: relative;
      }
    }
  }

  .plyr--video {
    .plyr__controls {
      left: 10px;
      right: 10px;
      border-radius: 15px;
      padding: 10px 20px;
    }

    .plyr__progress__container {
      margin-left: 10px;
    }
  }

  .video {
    padding-right: 15px;
    padding-left: 15px;

    &__container {
      border-radius: 40px;
      min-height: 460px;

      &::before {
        border-radius: 10px;
      }

      &--border {
        border-radius: 47px;

        &::before {
          border-radius: 34px;
        }
      }
    }
  }

  .modal {
    &__close {
      right: 15px;
      top: 15px;
    }

    &__inner {
      padding: 60px 40px;
    }
  }

  .modal-table {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }

  .modal-chars {
    .modal__inner {
      padding: 60px 30px;
    }
  }

  .modal-video {
    .modal__inner {
      padding: 60px 20px 20px;
    }
  }

  .compare {
    .compare__table-title {
      font-size: 20px;
    }

    &__subtitle {
      margin: 0 auto 34px;
      max-width: 290px;
    }

    &__table {
      font-size: 14px;

      tr:first-child td {
        vertical-align: middle;
        padding: 6px;

        &:first-child {
          padding-left: 10px;
        }
      }

      td {
        vertical-align: top;
        padding: 10px;

        &:first-child {
          padding-left: 10px;
        }
      }

      .compare__table tr:last-child td:last-child {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  .recharge {
    &__items {
      flex-direction: column;
    }

    &__bottom-title {
      font-size: 24px;
    }

    &__arrow {
      display: none;
    }

    &__list {
      display: block;

      li {
        &:not(:first-child) {
          margin-top: 8px;
          margin-left: 0;
        }
      }
    }

    &__item {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .module {
    &::before,
    &::after {
      display: none;
    }

    &__inner {
      display: block;
      text-align: center;

      &::before,
      &::after {
        display: none;
      }
    }

    &__video {
      margin: 0 auto;
    }

    &__title {
      margin: 0 auto 16px;
      max-width: 505px;
    }

    &__content {
      margin-bottom: 30px;
    }
  }

  .remote {
    &__video-items {
      justify-content: center;
      width: 100%;
    }

    &__content {
      gap: 20px;
    }

    &__item {
      padding: 16px 20px;
      font-size: 16px;

      &::before {
        font-size: 20px;
      }
    }
  }

  .cards {
    &__item--big {
      display: inline-block;
      margin-bottom: 34px;
      padding: 65px 43px 33px;
      width: 443px;
      min-height: 470px;
      background-size: contain;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__list--big {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .chars {
    &__subtitle {
      margin: 0 auto 30px;
      max-width: 255px;
    }

    &__name {
      font-size: 20px;
      line-height: 1.3;
    }

    &__list {
      display: block;
    }

    &__item {
      margin: 0 auto 18px;
      max-width: 340px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .support {
    &__list-title {
      font-size: 19px;
    }
  }

  .trust {
    &::before {
      display: none;
    }

    &__title-break {
      display: inline;
    }

    &__title {
      margin: 0 auto 16px;
      max-width: 312px;
    }

    &__img {
      height: auto;

      img {
        max-height: 92px;
        object-fit: contain;
      }
    }

    &__item {
      @include mb(14px);

      min-height: 92px;
    }

    &__item-info {
      flex-grow: 1;
      padding: 26px 18px 26px 45px;
    }

    &__name {
      position: relative;
      font-size: 16px;

      &::before {
        position: absolute;
        left: -30px;
        top: 0;
      }
    }

    &__inner {
      display: block;
    }

    &__info {
      margin-bottom: 24px;
      text-align: center;
    }

    &__items {
      margin: 0 auto;
      max-width: 600px;
    }
  }

  .partners {
    background-color: transparent;

    &__item {
      @include flex-all-center;

      flex-direction: column;

      > * {
        width: 190px;
      }
    }

    &__subtitle {
      margin-bottom: 24px;
    }

    &__content {
      display: block;
    }

    &__search {
      margin-bottom: 40px;
    }

    .partners__tabs {
      display: flex;
      overflow: auto;
      margin-right: -15px;
      margin-bottom: 33px;
      padding-right: 15px;
      padding-bottom: 3px;

      > li {
        @include mr(8px);

        flex-shrink: 0;

        > a {
          border: 1px solid rgba(224, 228, 235, 50%);
          border-radius: 2px;
        }
      }
    }

    &__title,
    &__subtitle {
      text-align: center;
    }
  }

  .footer {
    &__inner {
      grid-template-columns: repeat(5, auto);
      gap: 25px 50px;
    }
  }
}

// 768
@include small-tablet {
  .banner {
    &__title {
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }
  }

  .btn-link {
    font-size: 16px;
  }

  .examples__list {
    margin-bottom: 30px;
  }

  .diagnostic {
    padding-top: 30px;
    &__text {
      margin-left: 12px;
      font-size: 18px;
    }

    &__img {
      position: static;
      width: 260px;

      &-mob {
        position: absolute;
        left: -135px;
        bottom: -14px;
        z-index: 3;

        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 110px;
          width: 24px;
          height: 130px;
          background: url("../img/diagnostic-line-mob.svg") center no-repeat;
        }
      }

      img {
        min-width: auto;
      }
    }

    &__title {
      margin: 0 auto 16px;
      max-width: 336px;
      text-align: center;
    }

    &__subtitle {
      margin: 0 auto 36px;
      max-width: 311px;
      text-align: center;
    }

    &__box {
      position: relative;
      margin-top: 0;
      padding-left: 135px;

      &::before {
        @include triangle(16px);

        content: "";
        position: absolute;
        right: 16px;
        top: 16px;
      }

      &::after {
        display: none;
      }
    }

    &__content {
      &::before {
        display: none;
      }
    }

    &__icon {
      width: 34px;
      height: 34px;

      img {
        width: 20px;
        height: 20px;
      }
    }

    &__inner,
    &__box {
      display: block;
    }
  }

  .functions {
    padding-bottom: 30px;
  }

  .player-icon {
    width: 54px;
    height: 54px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .header__bottom-logo {
    display: none;
  }

  .hero {
    &__subtitle {
      line-height: 1.4;
    }

    &__img {
      display: none;

      &-mob {
        display: block;
        text-align: center;
      }
    }
  }

  .settings {
    background-image: url("../img/settings-bg-mob.png");

    &::after {
      display: none;
    }

    &__img {
      margin: 0 auto 34px;
      max-width: 380px;

      &::before,
      &::after {
        width: 38px;
        height: 224px;
        background-image: url("../img/settings-line-mob.svg");
      }

      &::before {
        left: -40px;
      }

      &::after {
        right: -40px;
      }
    }

    &__items {
      max-width: 300px;
    }

    &__subtitle-break {
      display: block;
    }

    &__title {
      margin: 0 auto;
      max-width: 343px;
    }

    &__subtitle {
      margin: 16px auto 24px;
    }

    &__footer {
      position: relative;
      margin-top: 0;
      padding-top: 10px;
    }
  }

  .functions {
    &__slider {
      padding-bottom: 0;
    }

    .swiper-pagination {
      margin-top: 14px;

      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
      }
    }

    &__inner {
      position: relative;
      display: block;

      &::before {
        @include bg-circle(231px);

        left: -100px;
        top: 0;
        background: rgba(139, 103, 103, 15%);
        filter: blur(38.033px);
      }
    }

    &__subtitle {
      max-width: 238px;
    }

    &__title {
      margin-bottom: 35px;
      max-width: 315px;
    }

    &__value {
      flex-shrink: 0;
      margin-right: 26px;
      font-size: 26px;

      &::after {
        display: none;
      }
    }

    &__box {
      display: flex;
    }

    &__bar {
      position: relative;
      width: 185px;
      height: 5px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: -20px;
        width: 135px;
        height: 15px;
        background-image: url("../img/functions-line-mob.svg");
      }

      &-fill {
        width: 103px;
      }
    }

    &__content {
      margin-right: 0;
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  .video {
    &__container {
      border-radius: 10px;
      min-height: 283px;

      &--border {
        border-radius: 28px;
        min-height: 310px;

        &::before {
          border-radius: 18px;
        }
      }
    }
  }

  .china {
    &__inner {
      display: block;
    }

    &__list {
      margin-bottom: 30px;

      li {
        padding: 14px;
      }
    }

    &__img {
      display: none;

      &-mob {
        display: block;

        picture {
          display: flex;
          justify-content: center;
        }

        img {
          border-radius: 4px 4px 0 0;
        }
      }
    }
  }

  .cards {
    &__list {
      display: block;
    }

    &__item {
      margin: 0 auto 25px;
      width: 390px;
      height: 235px;
      min-height: auto;
      background-position: center;
      background-size: 100%;

      &::before {
        top: -3px;
        font-size: 22px;
      }

      &::after {
        border-width: 0 10px 10px 0;
      }

      p {
        font-size: 14px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &--big {
        display: block;
        padding: 60px 37px 40px;
        width: 437px;
        height: 521px;
        background-position: top;
        background-size: contain;

        &::after {
          display: none;
        }
      }
    }

    &__info {
      margin-left: 18px;
    }

    &__name {
      font-size: 18px;
      line-height: 1.3;
    }
  }

  .remote {
    &::before {
      display: none;
    }

    &__subtitle {
      margin-bottom: 24px;
    }

    &__content {
      grid-template-columns: 1fr;
    }

    &__item {
      @include mb(9px);

      font-size: 15px;
    }

    &__preview {
      display: block;

      img {
        display: flex;
        width: 100%;
        max-height: 300px;
      }
    }

    &__list {
      order: -1;
    }
  }

  .support__preview img {
    min-height: 180px;
  }

  .complect {
    &__item {
      border-radius: 0;
      width: 50%;

      p span {
        display: block;
      }

      &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
      }

      &:nth-child(3) {
        border-radius: 0;
      }

      &:nth-child(4) {
        border-bottom-left-radius: 10px;
      }

      &:nth-child(5) {
        border-bottom-right-radius: 10px;
      }
    }
  }

  .maxiscope {
    &__content {
      grid-template-columns: 1fr 1fr;
      border: none;
    }

    &__img {
      order: -1;
      grid-column: span 2;

      img {
        border-radius: 10px;
      }
    }

    &__item {
      border: 1px solid rgba($g2-color, 0.5);
      padding: 22px;

      &:first-child {
        border-bottom: none;
      }
    }

    &__col {
      &:nth-child(3) {
        .maxiscope__item {
          &:first-child {
            border-left: none;
          }

          &:nth-child(2) {
            border-left: none;
            border-bottom-right-radius: 10px;
          }
        }
      }

      &:nth-child(1) {
        .maxiscope__item:nth-child(2) {
          border-bottom-left-radius: 10px;
        }
      }
    }

    img {
      width: 100%;
    }
  }

  .comfort {
    &__item {
      width: 285px;
    }

    &__subtitle {
      margin-bottom: 24px;
    }
  }

  .slider-pagination {
    position: static;
    display: block;
    margin-top: 20px;

    .swiper-pagination-bullet {
      margin: 0 4px;
      width: 10px;
      height: 10px;
      background-color: #302a2a;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background-color: $g1-color;
      }
    }
  }

  .support {
    padding-bottom: 30px;

    &__title {
      margin: 0 auto;
      max-width: 320px;
      text-align: center;
    }

    &__subtitle {
      margin: 16px auto 30px;
      max-width: 265px;
      text-align: center;
    }

    &__subtitle-break {
      display: inline;
    }

    &__list-title {
      margin-bottom: 16px;
      text-align: center;
    }

    &__list {
      @include mb(30px);

      li {
        @include mb(7px);

        font-size: 14px;

        &::before {
          width: 28px;
          height: 28px;
          font-family: "Helvetica", sans-serif;
          font-size: 14px;
        }
      }
    }

    &__video {
      margin: 0 auto 30px;
      width: 100%;
      max-width: 527px;
    }

    &__videos {
      display: none;
    }

    &__content {
      display: block;
      margin-bottom: 0;
    }
  }

  #modal-complect-1 {
    .modal-complect__btn {
      display: block;
    }
  }

  .modal-complect {
    &__inner {
      &.is-more {
        .modal-complect__item:nth-child(10) ~ .modal-complect__item {
          display: block;
        }
      }
    }

    &__item {
      width: 50%;

      &:nth-child(10) ~ .modal-complect__item {
        display: none;
      }
    }
  }

  .modal-table {
    font-size: 14px;

    .modal-table__title-mob {
      text-align: left;
    }

    &__title-mob {
      font-size: 26px;
    }
  }

  .modal-chars {
    &__title {
      display: none;
    }

    .modal-table {
      position: relative;
      padding-top: 100px;

      table {
        width: 100%;
      }

      thead {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: block;
        margin: 0 auto;

        tr {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 30px;

          td {
            padding: 0;

            &.modal-table__title-mob {
              margin: 0;
              padding: 0;
            }
          }

          &:nth-child(2) {
            display: none;
          }
        }

        td {
          display: block;
          flex-shrink: 0;
          height: auto;

          &:not(:last-child) {
            margin-right: 20px;
            padding: 0;
          }

          img {
            display: flex;
            max-width: 110px;
          }
        }
      }

      .modal-table__title {
        display: none;

        &-mob {
          display: block;
        }
      }

      td {
        &:first-child {
          font-weight: 300;
          color: rgba($g1-color, 0.6);
        }
      }

      .modal-table__spoiler td {
        border-bottom: 2px solid $black-color;
        padding: 15px;
        font-weight: 400;
        color: $g1-color;
      }
    }

    td {
      padding: 15px;
      height: 50px;
    }

    .modal-table td:first-child,
    .modal-table th:first-child {
      padding: 10px 15px;
    }

    &__item-sm {
      font-size: 12px;
    }

    .modal__inner {
      padding: 60px 0;
    }

    &.is-active-1 {
      .modal-table {
        &__td {
          &-2,
          &-3 {
            display: none;
          }
        }
      }
    }

    &.is-active-2 {
      .modal-table {
        &__td {
          &-1,
          &-3 {
            display: none;
          }
        }
      }
    }

    &.is-active-3 {
      .modal-table {
        &__td {
          &-1,
          &-2 {
            display: none;
          }
        }
      }
    }
  }

  .modal-video .modal__inner {
    height: 93vh;
  }

  .compare {
    &__time-arrow {
      img {
        display: flex;
        width: 17px;
        height: 17px;
        object-position: right;
      }
    }

    &__time-items {
      margin-bottom: 13px;
    }

    &__time-mob {
      display: block;
      padding-left: 22px;
      font-size: 10px;
      line-height: 1.4;
      color: $light-color;
    }

    &__time-item {
      font-size: 18px;
    }

    .compare {
      &__table-title {
        font-size: 16px;
        text-transform: none;
      }

      &__table-sm {
        font-size: 10px;
      }

      &__table-title.color-accent {
        font-size: 12px;
      }

      &__time {
        text-align: left;
      }

      &__table-bottom {
        td:first-child {
          vertical-align: top;
          padding-top: 20px;
        }

        .compare__table-title {
          padding: 0;
          font-family: "Helvetica", sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 1.4;
          text-transform: none;
        }

        .compare__table-sm {
          display: none;
        }
      }
    }
  }

  .tests {
    padding-bottom: 0;
    text-align: center;

    &__subtitle {
      margin: 0 auto 24px;
    }

    &__list {
      display: block;
    }

    &__item {
      margin: 0 auto 24px;
      max-width: 500px;
    }
  }

  .documentation {
    &__subtitle {
      margin-bottom: 32px;
    }
  }

  .study {
    &__subtitle {
      margin-bottom: 24px;
    }

    &__items {
      position: static;
      grid-template-columns: 1fr 1fr;
    }

    &__name-break {
      display: inline;
    }

    &__name {
      text-transform: lowercase;
    }

    &__num {
      font-size: 62px;
    }

    &__item {
      &:last-child {
        grid-column: span 2;
        border-top: none;
        border-radius: 0 0 10px 10px;

        .study__name {
          max-width: 120px;
        }

        .study__text {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: space-between;
        }

        p {
          max-width: 157px;
        }
      }

      &:nth-child(2) {
        border-right: 1px solid $g3-color;
      }
    }
  }

  .garanty {
    &::before {
      display: none;
    }

    &__name-break {
      display: block;
    }

    &__name {
      margin-bottom: 8px;
      font-size: 18px;
    }

    &__subtitle {
      margin: 0 auto 34px;
      max-width: 310px;
    }

    &__list {
      display: block;
    }

    &__item {
      margin: 0 auto 24px;
      max-width: 340px;
    }
  }

  .partners {
    &__items {
      grid-template-columns: 1fr 1fr;
    }

    &__item {
      &:nth-child(4) ~ .partners__item {
        display: none;
      }
    }

    &__tabs {
      &-item {
        &.is-more {
          .partners__item:nth-child(4) ~ .partners__item {
            display: flex;
          }
        }
      }
    }
  }

  .chars::after {
    display: none;
  }

  .footer {
    &__inner {
      display: flex;
      flex-direction: column;
      margin: 0 -15px;
      padding: 0 15px;
      text-align: center;
      gap: 0;
    }

    .container {
      padding: 0;
    }

    &__logo {
      margin-bottom: 20px;

      img {
        width: 150px;
      }
    }

    &__address {
      margin: 0 auto 24px;
      max-width: 160px;
      font-size: 12px;
    }

    &__list {
      li {
        margin-bottom: 20px;
        font-size: 14px;
        color: rgba(#f4f4f4, 0.6);
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      overflow: auto;
      margin-top: 18px;
      border-top: none;
      padding: 0 15px 24px;

      * {
        flex-shrink: 0;
      }
    }

    &__col {
      &:nth-child(4) {
        order: 3;
        margin-bottom: 38px;
        border-bottom: 1px solid rgba(#f4f4f4, 0.1);
        padding-bottom: 8px;

        li {
          font-weight: 500;
          color: #f4f4f4;

          &:first-child {
            margin-bottom: 8px;
            font-size: 20px;
          }

          &:last-child {
            font-size: 16px;
          }
        }
      }

      &:nth-child(2),
      &:nth-child(3) {
        order: 5;
      }
    }

    &__socials {
      justify-content: center;
      order: 2;
      margin-bottom: 20px;
    }
  }
}

// 576
@include mobile {
  .maxiscope__title {
    font-size: 23px;
  }

  .btn {
    padding: 19px 25px;
    min-width: 192px;
    font-size: 14px;
  }

  .header {
    &__logo img {
      width: 100px;
    }
  }

  .hero {
    padding-bottom: 60px;
  }

  .hero-benefits {
    padding-bottom: 0;
  }

  .diagnostic {
    background-color: #0c0c0c;

    &__inner {
      &::before {
        left: auto;
        right: -70px;
        top: -130px;
        bottom: auto;
        width: 268px;
        height: 268px;
      }

      &::after {
        right: -100px;
        top: -71px;
        width: 221px;
        height: 221px;
      }
    }

    &__item {
      @include mb(8px);

      max-width: 217px;
    }

    &__img {
      width: 220px;

      &-mob {
        left: -122px;
        bottom: -11px;

        &::before {
          top: 73px;
        }
      }
    }

    &__text {
      font-family: "Helvetica", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
    }

    &__box {
      padding: 24px 19px 24px 112px;
    }
  }

  .interface {
    background-color: #141111;

    &__list {
      display: block;

      li {
        display: flex;
        align-items: center;
        border-radius: 0;
        padding: 16px;
        padding-right: 40px;
        font-size: 14px;

        &::before {
          flex-shrink: 0;
          margin-right: 16px;
          margin-bottom: 0;
          width: 40px;
          height: 40px;
          font-family: "Oswald", sans-serif;
          font-size: 16px;
        }

        &:first-child {
          border-radius: 10px 10px 0 0;
        }

        &:last-child {
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }

  .tests {
    &__title {
      margin: 0 auto 16px;
      max-width: 356px;
    }

    &__item {
      text-align: left;

      p {
        margin-bottom: 16px;
      }
    }

    &__preview {
      picture {
        display: flex;
      }

      img {
        border-radius: 18px;
        width: 100%;
      }
    }

    &__subtitle {
      margin-bottom: 30px;
    }

    &__name {
      margin-bottom: 8px;
      font-size: 18px;
    }
  }

  .plyr--video .plyr__controls {
    bottom: 5px;
    padding: 5px 10px;

    .plyr__volume input[type="range"] {
      display: none;
    }

    .plyr__controls__item:first-child {
      padding: 0;
      width: 20px;
      height: 20px;

      svg {
        width: 10px;
      }
    }
  }

  .video {
    padding: 0 15px;
  }

  .compare {
    &__time-mob {
      padding-left: 12px;
    }

    &__time-item {
      font-size: 16px;
      text-transform: none;

      &:first-child {
        margin-right: 0;
        padding-left: 0;
      }

      &:last-child {
        margin-left: 0;
      }
    }

    &__table {
      font-size: 12px;

      tr:first-child img {
        width: 120px;
      }

      tr:last-child td:last-child {
        padding-right: 5px;
        padding-left: 5px;
      }

      td {
        min-width: 105px;

        &:nth-child(2) {
          min-width: 120px;
        }

        &:nth-child(3) {
          width: 110px;
          min-width: 125px;
        }
      }
    }

    &__desc-item {
      margin-bottom: 4px;
    }

    .compare__table-title {
      font-size: 16px;
    }

    tr:last-child td {
      padding-bottom: 17px;
    }
  }

  .support::before {
    display: none;
  }

  .cards {
    &__item {
      padding: 60px 37px 37px;
      width: 360px;
      height: 215px;
      background-position: top 5px center;

      &::after {
        right: 14px;
        top: 14px;
      }

      &--big {
        padding: 60px 37px 40px;
        width: 437px;
        height: 521px;
      }
    }
  }

  .settings {
    &__item {
      padding: 16px;
    }

    &__footer {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -66px;
        width: 100%;
        height: 354px;
        background: linear-gradient(180deg, #110a0a 0%, rgba(5, 5, 5, 0%) 100%);
      }
    }

    &__item-text {
      font-size: 14px;
    }

    &__img {
      margin-bottom: 20px;
      max-width: 280px;

      &::before,
      &::after {
        z-index: 3;
      }

      &-inner {
        z-index: 3;
      }
    }

    &__icon {
      flex-shrink: 0;
      margin-bottom: 0;
      width: 40px;
      height: 40px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .remote {
    &__item {
      align-items: flex-start;
      border-radius: 7px;
      padding: 16px;

      &::before {
        margin-top: 0;
      }
    }

    &__content {
      gap: 24px;
    }

    &__preview {
      img {
        max-height: 200px;
      }
    }
  }

  .complect {
    &__subtitle {
      margin-bottom: 24px;
    }

    &__list {
      margin-bottom: 34px;
    }

    &__item {
      padding: 20px;

      &::before {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }

      &:nth-child(2) {
        padding: 20px;
        padding-right: 40px;
      }
    }

    &__name {
      margin-bottom: 8px;
      font-size: 22px;
    }
  }

  .recharge {
    position: relative;

    &::before {
      @include bg-circle(342px, 50px, 0.2);

      left: -220px;
      top: 54px;
      z-index: -1;
    }

    &::after {
      @include bg-circle(342px, 50px, 0.2);

      right: -250px;
      bottom: 58px;
      z-index: -1;
    }

    &__item::after {
      @include triangle(22px);

      right: 20px;
      top: 20px;
    }

    &__name {
      font-size: 20px;
    }

    &__text {
      font-size: 18px;
    }

    &__hours {
      font-size: 57px;
    }

    &__icon {
      img {
        width: 64px;
      }
    }

    &__caption {
      font-size: 12px;
    }

    &__value {
      font-size: 16px;
    }

    &__list {
      font-size: 14px;
      line-height: 1.4;
    }

    &__bottom-title {
      margin-top: 5px;
      margin-bottom: 14px;
      margin-left: 14px;
      font-size: 20px;
    }
  }

  .study {
    background: linear-gradient(
        360deg,
        rgba(34, 34, 34, 20%) 0%,
        rgba(0, 0, 0, 0%) 100%
    ),
    url("../img/complect-bg.png") no-repeat center / cover;

    &__name {
      padding-left: 55px;
      font-size: 16px;
    }

    &__item {
      align-items: flex-start;
      justify-content: flex-start;
      padding: 10px 13px;

      &::after {
        right: 6px;
        top: 6px;
        border-width: 0 8px 8px 0;
      }

      p {
        max-width: 110px;
      }

      &:last-child {
        .study__name {
          max-width: 150px;
        }
      }

      &:nth-child(2) {
        .study__name {
          padding-left: 75px;
        }
      }
    }

    &__item-inner {
      position: relative;
    }

    &__num {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .trust {
    &__img {
      padding: 5px;
      width: 107px;

      img {
        display: flex;
      }
    }

    &__item:first-child .trust__img img {
      width: 47px;
    }

    &__name {
      font-size: 16px;
    }
  }

  .partners {
    &__tabs {
      li {
        font-size: 20px;

        a {
          padding: 5px 18px;
        }
      }
    }

    &__item {
      padding: 25px 18px;
    }

    &__items {
      gap: 18px 15px;
    }
  }

  .plyr--video {
    .plyr__volume {
      width: auto;
      min-width: auto;
    }

    .plyr__control {
      padding: 5px;
    }

    .plyr__controls .plyr__controls__item.plyr__time {
      font-size: 12px;
    }
  }

  .header__bottom .nav__list {
    justify-content: flex-start;
  }

  .modal {
    &__wrapper {
      padding: 0;
    }

    &__inner {
      padding: 60px 15px;
    }
  }

  .modal-complect {
    &__name {
      font-size: 12px;
    }

    &__count {
      top: 10px;
    }

    &__item-inner {
      padding: 26px 0 22px;
    }
  }
}

// 476
@include small-mobile {
  .modal-chars .modal-table thead td {
    flex-shrink: 1;
  }

  .modal-table__title-mob {
    font-size: 22px;
  }

  .compare__time-item {
    font-size: 15px;
  }

  .compare__table {
    overflow: auto;
    margin: -3px -15px;
    padding: 3px 15px;

    tr:first-child img {
      width: 80px;
    }

    td {
      padding: 10px 4px;
      min-width: auto;

      &:nth-child(1) {
        width: 80px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        min-width: auto;
      }
    }
  }

  .china {
    background: #0c0c0c;

    &__inner {
      &::before,
      &::after {
        display: none;
      }
    }

    &__title {
      margin-right: auto;
      margin-left: auto;
      max-width: 310px;
    }

    &__tables {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 40px;
    }

    &__list {
      grid-template-columns: 1fr 1fr;

      li {
        &:first-child {
          border-bottom-left-radius: 0;
        }

        &:last-child {
          border-top-right-radius: 0;
        }

        &:nth-child(2) {
          border-top-right-radius: 10px;
        }

        &:nth-child(3) {
          border-bottom-left-radius: 10px;
        }
      }
    }

    &__box {
      border: 1px solid #343535;
      border-radius: 10px;
      padding: 20px;
      box-shadow: none;
      background-color: #131010;

      p {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 12px;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &__content-title {
      margin-bottom: 10px;
      font-size: 21px;

      &-break {
        display: inline;
      }
    }

    &__btn {
      display: block;
      margin: 0 auto;
      border-radius: 5px;
      width: 236px;
    }
  }

  .cards {
    &__item {
      padding: 48px 15px 24px;
      width: 290px;
      height: 180px;

      ul {
        margin-bottom: 20px;
      }

      &--big {
        padding: 50px 27px 30px;
        width: 357px;
        height: 426px;
        min-height: auto;

        &::before {
          top: -3px;
        }
      }
    }

    &__img {
      img {
        height: 120px;
        object-fit: contain;
      }
    }
  }

  .complect {
    &__list {
      display: block;
    }

    &__item {
      padding: 16px 40px 16px 16px;
      width: 100%;

      &::before {
        width: 34px;
        height: 34px;
        font-size: 22px;
      }
    }

    .complect__item {
      border-radius: 0;
      padding-right: 40px;

      &:first-child {
        border-radius: 10px 10px 0 0;
        padding-right: 10px;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
      }

      &:nth-child(2) {
        width: 100%;
      }
    }
  }

  .recharge {
    &__subtitle {
      margin-bottom: 24px;
    }

    &__item {
      padding: 44px 25px 28px;
      width: 350px;
      height: 222px;
      background-size: cover;
    }
  }

  .complect .btn {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
  }

  .maxiscope {
    &__subtitle {
      margin-bottom: 24px;
    }

    &__value {
      font-size: 28px;
    }

    &__item {
      text-align: center;

      p {
        font-size: 14px;
      }
    }
  }

  .garanty {
    &__item {
      padding: 36px;
    }
  }

  .partners {
    &__tabs-item {
      &.is-more {
        .partners__item:nth-child(3) ~ .partners__item {
          display: flex;
        }
      }
    }

    &__item {
      @include mb(18px);

      &:nth-child(3) ~ .partners__item {
        display: none;
      }
    }

    &__items {
      display: block;
    }
  }
}

// 376
@include xs-mobile {
  .header__logo {
    margin-right: 3px;
  }

  .hero-benefits {
    &__text {
      font-size: 12px;
    }
  }

  .settings {
    &__items {
      max-width: 270px;
    }

    &__img {
      max-width: 240px;
    }
  }

  .cards {
    &__item--big {
      padding: 44px 5px 40px 27px;
      width: 100%;
      height: auto;
      background: url("../img/card-panel-top.svg") top / contain no-repeat;

      &::after {
        left: 0;
        right: 0;
        top: 36px;
        display: block;
        border: 1px solid $g2-color;
        border-top: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 100%;
        height: calc(100% - 36px);
      }

      .cards__img {
        margin-right: 25px;
      }
    }
  }

  .report {
    &__qr {
      width: calc(50% - 6px);

      p {
        font-size: 13px;
      }

      &:last-child {
        margin-left: 12px;
      }
    }
  }

  .recharge {
    &__item {
      padding-top: 34px;
      width: 307px;
      height: 195px;
    }
  }

  .chars {
    &__item {
      padding: 20px 15px;
    }

    &__buttons {
      justify-content: space-between;
      gap: 10px 5px;
    }
  }

  .trust {
    &__name {
      padding-right: 0;
      padding-left: 0;
      font-size: 16px;
    }

    &__item-info {
      padding-left: 39px;
    }
  }

  .modal-complect {
    &__name {
      padding: 0 18px;
    }
  }
}

@media (max-width: 350px) {
  .study {
    &__item {
      padding: 10px 5px;
    }
  }
}
