// если вы хотите использовать sass-переменные - удалите root

// base
$font-family: "Helvetica", sans-serif;
$content-width: 1080px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));
$transition: 0.25s ease-in-out;
$menu-transition: 0.35s;

// colors
$light-color: #fff;
$black-color: #0c0c0c;
$accent-color: #d2232a;
$g1-color: #e0e4eb;
$g2-color: #535353;
$g3-color: #424348;
$g4-color: #343535;
$g5-color: #8b8b8b;

// vendors
:root {
  --plyr-video-background: rgba(0, 0, 0, 60%);
  --plyr-range-track-height: 7px;
  --plyr-range-thumb-height: 17px;
  --plyr-range-thumb-shadow: none;
  --plyr-font-size-time: 16px;
}
